{"openapi":"3.1.0","info":{"title":"api-settings","version":"1.0"},"servers":[{"url":"https://api.datacite.org"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/data-centers/{data-center-id}":{"get":{"summary":"Get Data Center","description":"Returns information about a specific data center","operationId":"get-publisher","parameters":[{"name":"data-center-id","in":"path","description":"returns metadata for a data center","schema":{"type":"string"},"required":true},{"name":"include","in":"query","description":"Comma-separated list from `member`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": {\n        \"id\": \"cdl.dryad\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"Dryad\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"cdl\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:04:33Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"cdl\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    },\n    \"included\": [{\n        \"id\": \"cdl\",\n        \"type\": \"members\",\n        \"attributes\": {\n            \"title\": \"California Digital Library\",\n            \"description\": \"<p>California Digital Library (CDL) handles scholarly information at every stage of its life. CDL provides technology and expertise to help the University of California (UC) collect, publish, access, and preserve its full range of information resources. CDL partners with organizations outside the UCs on far-reaching problems.</p>\\n\\n<p>CDL offers DataCite DOIs and other identifiers via the EZID service, a service CDL developed to help educational, non-profit, governmental and commercial clients create and manage globally unique identifiers for data and other sources.</p>\\n\",\n            \"member-type\": \"allocating\",\n            \"region\": \"Americas\",\n            \"country\": \"United States\",\n            \"year\": 2009,\n            \"logo-url\": \"https://assets.datacite.org/images/members/CDL.png\",\n            \"email\": \"ezid@ucop.edu\",\n            \"website\": \"http://ezid.cdlib.org\",\n            \"phone\": \"1-510-987-0469\",\n            \"updated\": \"2016-09-09T17:46:16.000Z\"\n        }\n    }, {\n        \"id\": \"datacite\",\n        \"type\": \"registration-agencies\",\n        \"attributes\": {\n            \"title\": \"DataCite\",\n            \"updated\": \"2016-04-27T02:23:01Z\"\n        }\n    }]\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"cdl.dryad"},"type":{"type":"string","example":"publishers"},"attributes":{"type":"object","properties":{"title":{"type":"string","example":"Dryad"},"other-names":{"type":"array","items":{"type":"object","properties":{}}},"prefixes":{"type":"array","items":{"type":"object","properties":{}}},"member-id":{"type":"string","example":"cdl"},"registration-agency-id":{"type":"string","example":"datacite"},"updated":{"type":"string","example":"2017-01-04T20:04:33Z"}}},"relationships":{"type":"object","properties":{"member":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"cdl"},"type":{"type":"string","example":"members"}}}}},"registration-agency":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"datacite"},"type":{"type":"string","example":"registration-agencies"}}}}}}}}},"included":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"cdl"},"type":{"type":"string","example":"members"},"attributes":{"type":"object","properties":{"title":{"type":"string","example":"California Digital Library"},"description":{"type":"string","example":"<p>California Digital Library (CDL) handles scholarly information at every stage of its life. CDL provides technology and expertise to help the University of California (UC) collect, publish, access, and preserve its full range of information resources. CDL partners with organizations outside the UCs on far-reaching problems.</p>\n\n<p>CDL offers DataCite DOIs and other identifiers via the EZID service, a service CDL developed to help educational, non-profit, governmental and commercial clients create and manage globally unique identifiers for data and other sources.</p>\n"},"member-type":{"type":"string","example":"allocating"},"region":{"type":"string","example":"Americas"},"country":{"type":"string","example":"United States"},"year":{"type":"integer","example":2009,"default":0},"logo-url":{"type":"string","example":"https://assets.datacite.org/images/members/CDL.png"},"email":{"type":"string","example":"ezid@ucop.edu"},"website":{"type":"string","example":"http://ezid.cdlib.org"},"phone":{"type":"string","example":"1-510-987-0469"},"updated":{"type":"string","example":"2016-09-09T17:46:16.000Z"}}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"https://api.datacite.org/publishers/cdl.dryad?include=member,registration-agency"}],"samples-languages":["curl"]}}},"/data-centers":{"get":{"summary":"List Data Centers","description":"Returns information about a list of data centers.","operationId":"get-members","parameters":[{"name":"query","in":"query","description":"Query string, e.g. data center name","schema":{"type":"string"}},{"name":"member-id","in":"query","description":"Member that the data center is associated with","schema":{"type":"string"}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"rows","in":"query","schema":{"type":"integer","format":"int32","default":25}},{"name":"include","in":"query","description":"Comma-separated list from `member`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n    \"data\": [{\n        \"id\": \"delft.datacent\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"3TU Datacentrum\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T19:40:58Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.data4-tu\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"4TU.Centre for Research Data\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T19:40:58Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.easy\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"DANS-EASY\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:01:43Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.tpm\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"Faculty of Technology, Policy and Management, TU Delft\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:11:33Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.iea\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"International Association for the Evaluation of Educational Achievement\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:26:23Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.isric\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"ISRIC\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:32:11Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.jrc\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"Joint Research Centre's Institute of Energy\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:38:06Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.maastro\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"MAASTRO Clinic\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:52:54Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.nibg\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"Nederlands Instituut voor Beeld en Geluid\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:55:57Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.tudarch\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"TU Delft Architecture\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:41:17Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.tudelft\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"TU Delft Library\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:44:02Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.tue\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"TU Eindhoven\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T20:44:03Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.eur\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"Universiteitsbibliotheek EUR\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T21:02:34Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }, {\n        \"id\": \"delft.vliz\",\n        \"type\": \"publishers\",\n        \"attributes\": {\n            \"title\": \"VLIZ - Vlaams Instituut voor de Zee\",\n            \"other-names\": [],\n            \"prefixes\": [],\n            \"member-id\": \"delft\",\n            \"registration-agency-id\": \"datacite\",\n            \"updated\": \"2017-01-04T19:37:44Z\"\n        },\n        \"relationships\": {\n            \"member\": {\n                \"data\": {\n                    \"id\": \"delft\",\n                    \"type\": \"members\"\n                }\n            },\n            \"registration-agency\": {\n                \"data\": {\n                    \"id\": \"datacite\",\n                    \"type\": \"registration-agencies\"\n                }\n            }\n        }\n    }],\n    \"included\": [{\n        \"id\": \"delft\",\n        \"type\": \"members\",\n        \"attributes\": {\n            \"title\": \"TU Delft Library\",\n            \"description\": \"<p>The TU Delft Library is the hub of knowledge for technical and scientific information and the largest technical-scientific library in the Netherlands. We support research and education at the national level and are part of the Delft University of Technology. TU Delft Library is a founding member of DataCite and a regional office for the Netherlands.</p>\\n\\n<p>TU Delft Library has established DataCite Netherlands to serve as a central research dataset registration service that will enable Dutch research organizations to register research datasets and assign digital object identifiers (DOIs) to them. Our aim is to support researchers by improving access to research data and to increase acceptance of the research data as legitimate, citable contributions to scientific record through trustworthy registration and identification of datasets. The current focus of DataCite Netherlands is on promoting the use of digital object identifiers for datasets.</p>\\n\",\n            \"member-type\": \"allocating\",\n            \"region\": \"EMEA\",\n            \"country\": \"Netherlands\",\n            \"year\": 2009,\n            \"logo-url\": \"https://assets.datacite.org/images/members/DELFT.png\",\n            \"email\": \"library@tudelft.nl\",\n            \"website\": \"http://www.library.tudelft.nl/en\",\n            \"phone\": \"+31 15 27 85678\",\n            \"updated\": \"2016-07-31T23:38:25.000Z\"\n        }\n    }, {\n        \"id\": \"datacite\",\n        \"type\": \"registration-agencies\",\n        \"attributes\": {\n            \"title\": \"DataCite\",\n            \"updated\": \"2016-04-27T02:23:01Z\"\n        }\n    }],\n    \"meta\": {\n        \"total\": 14,\n        \"registration-agencies\": [{\n            \"id\": \"datacite\",\n            \"title\": \"DataCite\",\n            \"count\": 14\n        }],\n        \"members\": [{\n            \"id\": \"delft\",\n            \"title\": \"TU Delft Library\",\n            \"count\": 14\n        }]\n    }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"delft.datacent"},"type":{"type":"string","example":"publishers"},"attributes":{"type":"object","properties":{"title":{"type":"string","example":"3TU Datacentrum"},"other-names":{"type":"array","items":{"type":"object","properties":{}}},"prefixes":{"type":"array","items":{"type":"object","properties":{}}},"member-id":{"type":"string","example":"delft"},"registration-agency-id":{"type":"string","example":"datacite"},"updated":{"type":"string","example":"2017-01-04T19:40:58Z"}}},"relationships":{"type":"object","properties":{"member":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"delft"},"type":{"type":"string","example":"members"}}}}},"registration-agency":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"datacite"},"type":{"type":"string","example":"registration-agencies"}}}}}}}}}},"included":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"delft"},"type":{"type":"string","example":"members"},"attributes":{"type":"object","properties":{"title":{"type":"string","example":"TU Delft Library"},"description":{"type":"string","example":"<p>The TU Delft Library is the hub of knowledge for technical and scientific information and the largest technical-scientific library in the Netherlands. We support research and education at the national level and are part of the Delft University of Technology. TU Delft Library is a founding member of DataCite and a regional office for the Netherlands.</p>\n\n<p>TU Delft Library has established DataCite Netherlands to serve as a central research dataset registration service that will enable Dutch research organizations to register research datasets and assign digital object identifiers (DOIs) to them. Our aim is to support researchers by improving access to research data and to increase acceptance of the research data as legitimate, citable contributions to scientific record through trustworthy registration and identification of datasets. The current focus of DataCite Netherlands is on promoting the use of digital object identifiers for datasets.</p>\n"},"member-type":{"type":"string","example":"allocating"},"region":{"type":"string","example":"EMEA"},"country":{"type":"string","example":"Netherlands"},"year":{"type":"integer","example":2009,"default":0},"logo-url":{"type":"string","example":"https://assets.datacite.org/images/members/DELFT.png"},"email":{"type":"string","example":"library@tudelft.nl"},"website":{"type":"string","example":"http://www.library.tudelft.nl/en"},"phone":{"type":"string","example":"+31 15 27 85678"},"updated":{"type":"string","example":"2016-07-31T23:38:25.000Z"}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":14,"default":0},"registration-agencies":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"datacite"},"title":{"type":"string","example":"DataCite"},"count":{"type":"integer","example":14,"default":0}}}},"members":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"delft"},"title":{"type":"string","example":"TU Delft Library"},"count":{"type":"integer","example":14,"default":0}}}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"http://api.datacite.org/data-centers?member-id=delft&include=member"}],"samples-languages":["curl"]}}},"/members/{member-id}":{"get":{"summary":"Get Member","description":"Returns information about a DataCite member.","operationId":"members","parameters":[{"name":"member-id","in":"path","description":"returns metadata for a DataCite member","schema":{"type":"string","default":"cern"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"id\": \"cern\",\n    \"type\": \"members\",\n    \"attributes\": {\n      \"title\": \"European Organization for Nuclear Research\",\n      \"description\": \"<p>CERN, the European Organization for Nuclear Research, is the world&#39;s largest particle physics laboratory. Founded in 1954 and based on the Franco-Swiss border near Geneva, it was one of Europe&#39;s first joint ventures and now has 21 member states and more than 50 cooperation agreements and scientific contacts with other countries.</p>\\n\\n<p>At CERN, physicists and engineers probe the fundamental structure of the universe. They use the world&#39;s largest and most complex scientific instrument, the Large Hadron Collider (LHC), to study the basic constituents of matter. The results of their experimental and theoretical work are publicly available following CERN&#39;s Open Access Policy.</p>\\n\\n<p>CERN services implementing DOIs are its institutional repository (CDS, CERN Document Server); INSPIRE-HEP, a digital library for the field of High-Energy Physics run in collaboration with other institutions; or the CERN Open Data Portal, which provides high level and analyzable data and software from the LHC experiments.</p>\\n\\n<p>Furthermore, CERN is also providing DOIs to ZENODO, a multidisciplinary data repository for the “long tail” of research results. It allows researchers to share and preserve their output independent of size, type of material or discipline.</p>\\n\",\n      \"member-type\": \"allocating\",\n      \"region\": \"EMEA\",\n      \"country\": \"Switzerland\",\n      \"year\": 2014,\n      \"logo-url\": \"https://assets.datacite.org/images/members/CERN.png\",\n      \"email\": \"doi-service@cern.ch\",\n      \"website\": \"http://doi.web.cern.ch/\",\n      \"phone\": null,\n      \"updated\": \"2016-07-31T21:30:25.000Z\"\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"cern"},"type":{"type":"string","example":"members"},"attributes":{"type":"object","properties":{"title":{"type":"string","example":"European Organization for Nuclear Research"},"description":{"type":"string","example":"<p>CERN, the European Organization for Nuclear Research, is the world&#39;s largest particle physics laboratory. Founded in 1954 and based on the Franco-Swiss border near Geneva, it was one of Europe&#39;s first joint ventures and now has 21 member states and more than 50 cooperation agreements and scientific contacts with other countries.</p>\n\n<p>At CERN, physicists and engineers probe the fundamental structure of the universe. They use the world&#39;s largest and most complex scientific instrument, the Large Hadron Collider (LHC), to study the basic constituents of matter. The results of their experimental and theoretical work are publicly available following CERN&#39;s Open Access Policy.</p>\n\n<p>CERN services implementing DOIs are its institutional repository (CDS, CERN Document Server); INSPIRE-HEP, a digital library for the field of High-Energy Physics run in collaboration with other institutions; or the CERN Open Data Portal, which provides high level and analyzable data and software from the LHC experiments.</p>\n\n<p>Furthermore, CERN is also providing DOIs to ZENODO, a multidisciplinary data repository for the “long tail” of research results. It allows researchers to share and preserve their output independent of size, type of material or discipline.</p>\n"},"member-type":{"type":"string","example":"allocating"},"region":{"type":"string","example":"EMEA"},"country":{"type":"string","example":"Switzerland"},"year":{"type":"integer","example":2014,"default":0},"logo-url":{"type":"string","example":"https://assets.datacite.org/images/members/CERN.png"},"email":{"type":"string","example":"doi-service@cern.ch"},"website":{"type":"string","example":"http://doi.web.cern.ch/"},"phone":{},"updated":{"type":"string","example":"2016-07-31T21:30:25.000Z"}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/members/cern"}],"samples-languages":["curl"]}}},"/members":{"get":{"summary":"List Members","description":"Returns information about a list of DataCite members.","operationId":"get-memberes","parameters":[{"name":"query","in":"query","description":"query string, e.g. member name","schema":{"type":"string"}},{"name":"member-type","in":"query","description":"member type (`allocating` or `non-allocating`)","schema":{"type":"string"}},{"name":"region","in":"query","description":"Geographic region (one of `amer`, `apac`, `emea`)","schema":{"type":"string"}},{"name":"year","in":"query","description":"Year member joined DataCite","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"ands\",\n      \"type\": \"members\",\n      \"attributes\": {\n        \"title\": \"Australian National Data Service\",\n        \"description\": \"<p>The Australian National Data Service (ANDS) makes Australia&#39;s research data assets more valuable for researchers, research institutions and the nation.</p>\\n\\n<p>We do this through working in trusted partnerships on research data projects, delivering reliable national services and enhancing the capability of Australia&#39;s research data system.</p>\\n\\n<p>A key ANDS service is the <a href=\\\"http://researchdata.ands.org.au/\\\">Research Data Australia</a> discovery portal where you can find, access and reuse Australian research data.</p>\\n\\n<p>ANDS is a partnership led by Monash University, in collaboration with the Australian National University and CSIRO. It is funded by the Australian Government through the National Collaborative Research Infrastructure Strategy (NCRIS).</p>\\n\\n<p>ANDS involvement in the DataCite consortium ensures that we are active in global initiatives addressing the issues surrounding research data, including those of publication, citation and standards. ANDS has run its <a href=\\\"http://ands.org.au/services/cite-my-data.html\\\">Cite My Data</a> service since 2011. This service allows Australian research organisations to assign DOIs to their own research collections. This, in turn, provides researchers with a means of citing their published data and achieving recognition for their research data output.</p>\\n\\n<p>Subscribe to our discussion list: <a href=\\\"https://groups.google.com/forum/?hl=en#!forum/ands-general\\\">ANDS Google Group</a>.</p>\\n\\n<p>Subscribe to our e-newsletter: <a href=\\\"http://us7.campaign-archive2.com/home/?u=b542ef52e49302569068046d9&amp;id=22b849a4ee\\\">andsUP</a>.</p>\\n\",\n        \"member-type\": \"allocating\",\n        \"region\": \"Asia Pacific\",\n        \"country\": \"Australia\",\n        \"year\": 2010,\n        \"logo-url\": \"https://assets.datacite.org/images/members/ands.png\",\n        \"email\": \"contact@ands.org.au\",\n        \"website\": \"http://www.ands.org.au\",\n        \"phone\": \"+61 3 9902 0585\",\n        \"updated\": \"2017-01-10T19:06:20.000Z\"\n      }\n    },\n    {\n      \"id\": \"snd\",\n      \"type\": \"members\",\n      \"attributes\": {\n        \"title\": \"Swedish National Data Service\",\n        \"description\": \"<p>The Swedish National Data Service (SND) is a national infrastructure for Swedish research within the humanities, social sciences and health sciences. SND offers support to Swedish research by facilitating researchers’ access to data within and outside of Sweden. SND also provides support and guidance to researchers throughout the whole research process.<br>\\nAn important part of SND’s mission is to gain a very good overview of existing research databases and to endeavour to gain full knowledge of future databases. Our main task is to take stock of databases relevant to research as well as support archiving, usage and re-usage of databases and related research materials on a national level within SND’s fields of responsibility.</p>\\n\\n<p>SND is the Swedish node in an international network of data archives (CESSDA). This network is an important part of the global research infrastructure and helps SND to present Swedish research outside of Sweden.</p>\\n\",\n        \"member-type\": \"allocating\",\n        \"region\": \"EMEA\",\n        \"country\": \"Sweden\",\n        \"year\": 2010,\n        \"logo-url\": \"https://assets.datacite.org/images/members/snd.png\",\n        \"email\": \"pid@snd.gu.se\",\n        \"website\": \"http://snd.gu.se/en\",\n        \"phone\": \"+46 31 786 12 06\",\n        \"updated\": \"2016-09-01T17:15:12.000Z\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"total\": 2,\n    \"member-types\": [\n      {\n        \"id\": \"allocating\",\n        \"title\": \"Allocating\",\n        \"count\": 2\n      }\n    ],\n    \"regions\": [\n      {\n        \"id\": \"apac\",\n        \"title\": \"Asia and Pacific\",\n        \"count\": 1\n      },\n      {\n        \"id\": \"emea\",\n        \"title\": \"Europe, Middle East and Africa\",\n        \"count\": 1\n      }\n    ],\n    \"years\": [\n      {\n        \"id\": \"2010\",\n        \"title\": \"2010\",\n        \"count\": 2\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"ands"},"type":{"type":"string","example":"members"},"attributes":{"type":"object","properties":{"title":{"type":"string","example":"Australian National Data Service"},"description":{"type":"string","example":"<p>The Australian National Data Service (ANDS) makes Australia&#39;s research data assets more valuable for researchers, research institutions and the nation.</p>\n\n<p>We do this through working in trusted partnerships on research data projects, delivering reliable national services and enhancing the capability of Australia&#39;s research data system.</p>\n\n<p>A key ANDS service is the <a href=\"http://researchdata.ands.org.au/\">Research Data Australia</a> discovery portal where you can find, access and reuse Australian research data.</p>\n\n<p>ANDS is a partnership led by Monash University, in collaboration with the Australian National University and CSIRO. It is funded by the Australian Government through the National Collaborative Research Infrastructure Strategy (NCRIS).</p>\n\n<p>ANDS involvement in the DataCite consortium ensures that we are active in global initiatives addressing the issues surrounding research data, including those of publication, citation and standards. ANDS has run its <a href=\"http://ands.org.au/services/cite-my-data.html\">Cite My Data</a> service since 2011. This service allows Australian research organisations to assign DOIs to their own research collections. This, in turn, provides researchers with a means of citing their published data and achieving recognition for their research data output.</p>\n\n<p>Subscribe to our discussion list: <a href=\"https://groups.google.com/forum/?hl=en#!forum/ands-general\">ANDS Google Group</a>.</p>\n\n<p>Subscribe to our e-newsletter: <a href=\"http://us7.campaign-archive2.com/home/?u=b542ef52e49302569068046d9&amp;id=22b849a4ee\">andsUP</a>.</p>\n"},"member-type":{"type":"string","example":"allocating"},"region":{"type":"string","example":"Asia Pacific"},"country":{"type":"string","example":"Australia"},"year":{"type":"integer","example":2010,"default":0},"logo-url":{"type":"string","example":"https://assets.datacite.org/images/members/ands.png"},"email":{"type":"string","example":"contact@ands.org.au"},"website":{"type":"string","example":"http://www.ands.org.au"},"phone":{"type":"string","example":"+61 3 9902 0585"},"updated":{"type":"string","example":"2017-01-10T19:06:20.000Z"}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":2,"default":0},"member-types":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"allocating"},"title":{"type":"string","example":"Allocating"},"count":{"type":"integer","example":2,"default":0}}}},"regions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"apac"},"title":{"type":"string","example":"Asia and Pacific"},"count":{"type":"integer","example":1,"default":0}}}},"years":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"2010"},"title":{"type":"string","example":"2010"},"count":{"type":"integer","example":2,"default":0}}}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/members"}],"samples-languages":["curl"]}}},"/people/{person-id}":{"get":{"summary":"Get Person","description":"Returns information about a person.","operationId":"get-person","parameters":[{"name":"person-id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"http://orcid.org/0000-0002-7304-0535\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ronald\",\n        \"family\": \"Aarts\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-7304-0535\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-6914-2224\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"nurul syakima\",\n        \"family\": \"ab mutalib\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-6914-2224\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-1265-4186\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Cecilia\",\n        \"family\": \"Abadie\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-1265-4186\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-7214-2986\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Naeem\",\n        \"family\": \"Abas\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-7214-2986\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4829-3204\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Irina\",\n        \"family\": \"Abaturova\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4829-3204\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-9345-5407\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Simona\",\n        \"family\": \"Abbà\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-9345-5407\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-8001-328X\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Eslam\",\n        \"family\": \"Abbas\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-8001-328X\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-3721-6054\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Mohammad Reza\",\n        \"family\": \"Abbasi\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-3721-6054\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4805-8714\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Iftikhar\",\n        \"family\": \"Abbasov\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4805-8714\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-0899-0232\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Abbas\",\n        \"family\": \"Abbaszadeh\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-0899-0232\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4713-6098\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Dallas\",\n        \"family\": \"Abbott\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4713-6098\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-6347-9499\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Peter\",\n        \"family\": \"Abbott\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-6347-9499\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-4666-3681\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Kasper\",\n        \"family\": \"Abcouwer\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-4666-3681\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4488-3063\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Leonardo\",\n        \"family\": \"Abdala Elias\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4488-3063\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-6558-7207\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ahmed\",\n        \"family\": \"Abdalla Alemam Mohamed\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-6558-7207\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-6831-1524\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Aly\",\n        \"family\": \"Abdel-Moemin\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-6831-1524\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4438-8572\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ahmed\",\n        \"family\": \"Abdelhady\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4438-8572\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-3863-3749\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ayman\",\n        \"family\": \"Abdelhai\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-3863-3749\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-8232-1403\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Boumediene\",\n        \"family\": \"Abdellaoui\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-8232-1403\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-1014-6922\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Usama Ramadan\",\n        \"family\": \"Abdelmohsen\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-1014-6922\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-5618-9637\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Noorizan\",\n        \"family\": \"Abdul Majid\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-5618-9637\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-6257-876X\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Alfie\",\n        \"family\": \"Abdul-Rahman\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-6257-876X\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-1745-5952\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ayako\",\n        \"family\": \"Abe-Ouchi\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-1745-5952\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-3915-8342\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Daniel\",\n        \"family\": \"Abel-Schaad\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-3915-8342\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-1122-6622\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Carlos\",\n        \"family\": \"Abellán\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-1122-6622\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"total\": 7141\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"http://orcid.org/0000-0002-7304-0535"},"type":{"type":"string","example":"contributors"},"attributes":{"type":"object","properties":{"given":{"type":"string","example":"Ronald"},"family":{"type":"string","example":"Aarts"},"literal":{},"orcid":{"type":"string","example":"0000-0002-7304-0535"},"github":{},"updated":{"type":"string","example":"1970-01-01T00:00:00Z"}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":7141,"default":0}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/peope"}],"samples-languages":["curl"]}}},"/contributors/":{"get":{"summary":"List People","description":"Returns information about a list of people.","operationId":"list-2","parameters":[{"name":"rows","in":"query","schema":{"type":"integer","format":"int32","default":25}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort","in":"query","description":"can be deposited, published, updated or score","schema":{"type":"string","default":"score"}},{"name":"order","in":"query","description":"can be asc or desc","schema":{"type":"string","default":"desc"}},{"name":"include","in":"query","description":"comma-separated list from publisher, member, registration-agency, resource-type and work-type","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"http://orcid.org/0000-0002-7304-0535\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ronald\",\n        \"family\": \"Aarts\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-7304-0535\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-6914-2224\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"nurul syakima\",\n        \"family\": \"ab mutalib\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-6914-2224\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-1265-4186\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Cecilia\",\n        \"family\": \"Abadie\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-1265-4186\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-7214-2986\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Naeem\",\n        \"family\": \"Abas\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-7214-2986\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4829-3204\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Irina\",\n        \"family\": \"Abaturova\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4829-3204\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-9345-5407\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Simona\",\n        \"family\": \"Abbà\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-9345-5407\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-8001-328X\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Eslam\",\n        \"family\": \"Abbas\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-8001-328X\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-3721-6054\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Mohammad Reza\",\n        \"family\": \"Abbasi\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-3721-6054\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4805-8714\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Iftikhar\",\n        \"family\": \"Abbasov\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4805-8714\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-0899-0232\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Abbas\",\n        \"family\": \"Abbaszadeh\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-0899-0232\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4713-6098\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Dallas\",\n        \"family\": \"Abbott\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4713-6098\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-6347-9499\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Peter\",\n        \"family\": \"Abbott\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-6347-9499\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-4666-3681\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Kasper\",\n        \"family\": \"Abcouwer\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-4666-3681\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4488-3063\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Leonardo\",\n        \"family\": \"Abdala Elias\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4488-3063\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-6558-7207\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ahmed\",\n        \"family\": \"Abdalla Alemam Mohamed\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-6558-7207\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-6831-1524\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Aly\",\n        \"family\": \"Abdel-Moemin\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-6831-1524\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-4438-8572\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ahmed\",\n        \"family\": \"Abdelhady\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-4438-8572\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-3863-3749\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ayman\",\n        \"family\": \"Abdelhai\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-3863-3749\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0001-8232-1403\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Boumediene\",\n        \"family\": \"Abdellaoui\",\n        \"literal\": null,\n        \"orcid\": \"0000-0001-8232-1403\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-1014-6922\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Usama Ramadan\",\n        \"family\": \"Abdelmohsen\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-1014-6922\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-5618-9637\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Noorizan\",\n        \"family\": \"Abdul Majid\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-5618-9637\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0002-6257-876X\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Alfie\",\n        \"family\": \"Abdul-Rahman\",\n        \"literal\": null,\n        \"orcid\": \"0000-0002-6257-876X\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-1745-5952\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Ayako\",\n        \"family\": \"Abe-Ouchi\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-1745-5952\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-3915-8342\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Daniel\",\n        \"family\": \"Abel-Schaad\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-3915-8342\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    },\n    {\n      \"id\": \"http://orcid.org/0000-0003-1122-6622\",\n      \"type\": \"contributors\",\n      \"attributes\": {\n        \"given\": \"Carlos\",\n        \"family\": \"Abellán\",\n        \"literal\": null,\n        \"orcid\": \"0000-0003-1122-6622\",\n        \"github\": null,\n        \"updated\": \"1970-01-01T00:00:00Z\"\n      }\n    }\n  ],\n  \"meta\": {\n    \"total\": 7141\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"http://orcid.org/0000-0002-7304-0535"},"type":{"type":"string","example":"contributors"},"attributes":{"type":"object","properties":{"given":{"type":"string","example":"Ronald"},"family":{"type":"string","example":"Aarts"},"literal":{},"orcid":{"type":"string","example":"0000-0002-7304-0535"},"github":{},"updated":{"type":"string","example":"1970-01-01T00:00:00Z"}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":7141,"default":0}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/contributors"}],"samples-languages":["curl"]}}},"/works/{doi}":{"get":{"summary":"Get Work","description":"Returns the metadata for the specified DOI","operationId":"get-work","parameters":[{"name":"doi","in":"path","schema":{"type":"string","default":"10.6084/M9.FIGSHARE.830404.V1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"id\": \"https://doi.org/10.5438/0012\",\n    \"type\": \"works\",\n    \"attributes\": {\n      \"doi\": \"10.5438/0012\",\n      \"url\": null,\n      \"author\": [\n        {\n          \"literal\": \"DataCite Metadata Working Group\"\n        }\n      ],\n      \"title\": \"DataCite Metadata Schema Documentation for the Publication and Citation of Research Data v4.0\",\n      \"container-title\": \"DataCite e.V.\",\n      \"description\": \"1 Introduction\\n1.1 The DataCite Consortium\\n1.2 DataCite Community Participation\\n1.3 The Metadata Schema\\n1.4 Version 4.0 Update\\n2 DataCite Metadata Properties\\n2.1 Overview\\n2.2 Citation\\n2.3 DataCite Properties\\n3 XML Example\\n4 XML Schema\\n5 Other DataCite Services\\nAppendices\\nAppendix 1: Controlled List Definitions\\nAppendix 2: Earlier Version Update Notes\",\n      \"resource-type-subtype\": \"Documentation\",\n      \"publisher-id\": \"datacite.datacite\",\n      \"member-id\": \"datacite\",\n      \"registration-agency-id\": \"datacite\",\n      \"resource-type-id\": \"text\",\n      \"work-type-id\": \"report\",\n      \"version\": \"4.0\",\n      \"license\": null,\n      \"schema-version\": \"4\",\n      \"results\": [],\n      \"published\": \"2016\",\n      \"deposited\": \"2016-09-19T21:53:56Z\",\n      \"updated\": \"2016-09-19T22:16:45Z\",\n      \"media\": null,\n      \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxyZXNvdXJjZSB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhzaTpzY2hlbWFMb2NhdGlvbj0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQgaHR0cDovL3NjaGVtYS5kYXRhY2l0ZS5vcmcvbWV0YS9rZXJuZWwtNC9tZXRhZGF0YS54c2QiPg0KCTxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjU0MzgvMDAxMjwvaWRlbnRpZmllcj4NCgk8Y3JlYXRvcnM+DQoJCTxjcmVhdG9yPg0KCQkJPGNyZWF0b3JOYW1lPkRhdGFDaXRlIE1ldGFkYXRhIFdvcmtpbmcgR3JvdXA8L2NyZWF0b3JOYW1lPg0KCQk8L2NyZWF0b3I+DQoJPC9jcmVhdG9ycz4NCgk8dGl0bGVzPg0KCQk8dGl0bGU+RGF0YUNpdGUgTWV0YWRhdGEgU2NoZW1hIERvY3VtZW50YXRpb24gZm9yIHRoZSBQdWJsaWNhdGlvbiBhbmQgQ2l0YXRpb24gb2YgUmVzZWFyY2ggRGF0YSB2NC4wPC90aXRsZT4NCgk8L3RpdGxlcz4NCgk8cHVibGlzaGVyPkRhdGFDaXRlIGUuVi48L3B1Ymxpc2hlcj4NCgk8cHVibGljYXRpb25ZZWFyPjIwMTY8L3B1YmxpY2F0aW9uWWVhcj4NCgk8Y29udHJpYnV0b3JzPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJQcm9qZWN0TGVhZGVyIj4NCgkJCTxjb250cmlidXRvck5hbWU+U3RhcnIsIEpvYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+Sm9hbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U3RhcnI8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi03Mjg1LTAyN1g8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNhbGlmb3JuaWEgRGlnaXRhbCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iUHJvamVjdExlYWRlciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlNtYWVsZSwgTWFkZWxlaW5lIGRlPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPk1hZGVsZWluZSBkZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U21hZWxlPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlRVIERlbGZ0PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QXNodG9uLCBKYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+SmFuPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5Bc2h0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+QnJpdGlzaCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QmFydG9uLCBBbXk8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QW15PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5CYXJ0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+UHVyZHVlIFVuaXZlcnNpdHkgTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkJyYWRmb3JkLCBUaW5hPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlRpbmE8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkJyYWRmb3JkPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkNpb2xla+KAkEZpZ2llbCwgQW5uZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Bbm5lPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5DaW9sZWstRmlnaWVsPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkluaXN04oCQQ05SUzwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkRpZXRpa2VyLCBTdGVmYW5pZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5TdGVmYW5pZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+RGlldGlrZXI8L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+RVRIIFrDvHJpY2g8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5FbGxpb3R0LCBKYW5uZWFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPkphbm5lYW48L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkVsbGlvdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5ET0UvT1NUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkdlbmF0LCBCZXJyaXQ8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QmVycml0PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5HZW5hdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5USUI8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5IYXJ6ZW5ldHRlciwgS2Fyb2xpbmU8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+S2Fyb2xpbmU8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkhhcnplbmV0dGVyPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkdFU0lTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+SGlyc2NobWFubiwgQmFyYmFyYTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5CYXJiYXJhPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5IaXJzY2htYW5uPC9mYW1pbHlOYW1lPg0KCQkJPG5hbWVJZGVudGlmaWVyIG5hbWVJZGVudGlmaWVyU2NoZW1lPSJPUkNJRCIgc2NoZW1lVVJJPSJodHRwOi8vb3JjaWQub3JnIj4wMDAwLTAwMDMtMDI4OS0wMzQ1PC9uYW1lSWRlbnRpZmllcj4NCgkJCTxhZmZpbGlhdGlvbj5FVEggWsO8cmljaDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkpha29ic3NvbiwgU3RlZmFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlN0ZWZhbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+SmFrb2Jzc29uPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlNORDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk1haWxsb3V4LCBKZWFu4oCQWXZlczwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5KZWFuLVl2ZXM8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk1haWxsb3V4PC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk5ld2JvbGQsIEVsaXphYmV0aDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5FbGl6YWJldGg8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5ld2JvbGQ8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi04MjU1LTkwMTM8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkJyaXRpc2ggTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCQkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+TmllbHNlbiwgTGFycyBIb2xtIDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5MYXJzIEhvbG08L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5pZWxzZW48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMS04MTM1LTM0ODk8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNFUk48L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5ZYWhpYSwgTW9oYW1lZDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Nb2hhbWVkPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5ZYWhpYTwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5JbmlzdC1DTlJTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iU3VwZXJ2aXNvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlppZWRvcm4sIEZyYXVrZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5GcmF1a2U8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPlppZWRvcm48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi0xMTQzLTc4MVg8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPlRJQjwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJPC9jb250cmlidXRvcnM+DQoJPGxhbmd1YWdlPmVuZzwvbGFuZ3VhZ2U+DQoJPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJUZXh0Ij5Eb2N1bWVudGF0aW9uPC9yZXNvdXJjZVR5cGU+DQoJPHJlbGF0ZWRJZGVudGlmaWVycz4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IkRvY3VtZW50cyI+MTAuNTQzOC8wMDEzPC9yZWxhdGVkSWRlbnRpZmllcj4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IklzTmV3VmVyc2lvbk9mIj4xMC41NDM4LzAwMTA8L3JlbGF0ZWRJZGVudGlmaWVyPg0KCTwvcmVsYXRlZElkZW50aWZpZXJzPg0KCTxzaXplcz4NCgkJPHNpemU+NDUgcGFnZXM8L3NpemU+DQoJPC9zaXplcz4NCgk8Zm9ybWF0cz4NCgkJPGZvcm1hdD5hcHBsaWNhdGlvbi9wZGY8L2Zvcm1hdD4NCgk8L2Zvcm1hdHM+DQoJPHZlcnNpb24+NC4wPC92ZXJzaW9uPg0KCTxkZXNjcmlwdGlvbnM+DQoJCTxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IlRhYmxlT2ZDb250ZW50cyI+MSBJbnRyb2R1Y3Rpb248YnIvPg0KMS4xIFRoZSBEYXRhQ2l0ZSBDb25zb3J0aXVtPGJyLz4NCjEuMiBEYXRhQ2l0ZSBDb21tdW5pdHkgUGFydGljaXBhdGlvbjxici8+DQoxLjMgVGhlIE1ldGFkYXRhIFNjaGVtYTxici8+DQoxLjQgVmVyc2lvbiA0LjAgVXBkYXRlPGJyLz4NCjIgRGF0YUNpdGUgTWV0YWRhdGEgUHJvcGVydGllczxici8+DQoyLjEgT3ZlcnZpZXc8YnIvPg0KMi4yIENpdGF0aW9uPGJyLz4NCjIuMyBEYXRhQ2l0ZSBQcm9wZXJ0aWVzPGJyLz4NCjMgWE1MIEV4YW1wbGU8YnIvPg0KNCBYTUwgU2NoZW1hPGJyLz4NCjUgT3RoZXIgRGF0YUNpdGUgU2VydmljZXM8YnIvPg0KQXBwZW5kaWNlczxici8+DQpBcHBlbmRpeCAxOiBDb250cm9sbGVkIExpc3QgRGVmaW5pdGlvbnM8YnIvPg0KQXBwZW5kaXggMjogRWFybGllciBWZXJzaW9uIFVwZGF0ZSBOb3RlczwvZGVzY3JpcHRpb24+DQoJPC9kZXNjcmlwdGlvbnM+DQo8L3Jlc291cmNlPg0K\"\n    },\n    \"relationships\": {\n      \"publisher\": {\n        \"meta\": {}\n      },\n      \"member\": {\n        \"meta\": {}\n      },\n      \"registration-agency\": {\n        \"meta\": {}\n      },\n      \"resource-type\": {\n        \"meta\": {}\n      },\n      \"work-type\": {\n        \"meta\": {}\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"https://doi.org/10.5438/0012"},"type":{"type":"string","example":"works"},"attributes":{"type":"object","properties":{"doi":{"type":"string","example":"10.5438/0012"},"url":{},"author":{"type":"array","items":{"type":"object","properties":{"literal":{"type":"string","example":"DataCite Metadata Working Group"}}}},"title":{"type":"string","example":"DataCite Metadata Schema Documentation for the Publication and Citation of Research Data v4.0"},"container-title":{"type":"string","example":"DataCite e.V."},"description":{"type":"string","example":"1 Introduction\n1.1 The DataCite Consortium\n1.2 DataCite Community Participation\n1.3 The Metadata Schema\n1.4 Version 4.0 Update\n2 DataCite Metadata Properties\n2.1 Overview\n2.2 Citation\n2.3 DataCite Properties\n3 XML Example\n4 XML Schema\n5 Other DataCite Services\nAppendices\nAppendix 1: Controlled List Definitions\nAppendix 2: Earlier Version Update Notes"},"resource-type-subtype":{"type":"string","example":"Documentation"},"publisher-id":{"type":"string","example":"datacite.datacite"},"member-id":{"type":"string","example":"datacite"},"registration-agency-id":{"type":"string","example":"datacite"},"resource-type-id":{"type":"string","example":"text"},"work-type-id":{"type":"string","example":"report"},"version":{"type":"string","example":"4.0"},"license":{},"schema-version":{"type":"string","example":"4"},"results":{"type":"array","items":{"type":"object","properties":{}}},"published":{"type":"string","example":"2016"},"deposited":{"type":"string","example":"2016-09-19T21:53:56Z"},"updated":{"type":"string","example":"2016-09-19T22:16:45Z"},"media":{},"xml":{"type":"string","example":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxyZXNvdXJjZSB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhzaTpzY2hlbWFMb2NhdGlvbj0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQgaHR0cDovL3NjaGVtYS5kYXRhY2l0ZS5vcmcvbWV0YS9rZXJuZWwtNC9tZXRhZGF0YS54c2QiPg0KCTxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjU0MzgvMDAxMjwvaWRlbnRpZmllcj4NCgk8Y3JlYXRvcnM+DQoJCTxjcmVhdG9yPg0KCQkJPGNyZWF0b3JOYW1lPkRhdGFDaXRlIE1ldGFkYXRhIFdvcmtpbmcgR3JvdXA8L2NyZWF0b3JOYW1lPg0KCQk8L2NyZWF0b3I+DQoJPC9jcmVhdG9ycz4NCgk8dGl0bGVzPg0KCQk8dGl0bGU+RGF0YUNpdGUgTWV0YWRhdGEgU2NoZW1hIERvY3VtZW50YXRpb24gZm9yIHRoZSBQdWJsaWNhdGlvbiBhbmQgQ2l0YXRpb24gb2YgUmVzZWFyY2ggRGF0YSB2NC4wPC90aXRsZT4NCgk8L3RpdGxlcz4NCgk8cHVibGlzaGVyPkRhdGFDaXRlIGUuVi48L3B1Ymxpc2hlcj4NCgk8cHVibGljYXRpb25ZZWFyPjIwMTY8L3B1YmxpY2F0aW9uWWVhcj4NCgk8Y29udHJpYnV0b3JzPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJQcm9qZWN0TGVhZGVyIj4NCgkJCTxjb250cmlidXRvck5hbWU+U3RhcnIsIEpvYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+Sm9hbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U3RhcnI8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi03Mjg1LTAyN1g8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNhbGlmb3JuaWEgRGlnaXRhbCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iUHJvamVjdExlYWRlciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlNtYWVsZSwgTWFkZWxlaW5lIGRlPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPk1hZGVsZWluZSBkZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U21hZWxlPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlRVIERlbGZ0PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QXNodG9uLCBKYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+SmFuPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5Bc2h0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+QnJpdGlzaCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QmFydG9uLCBBbXk8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QW15PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5CYXJ0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+UHVyZHVlIFVuaXZlcnNpdHkgTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkJyYWRmb3JkLCBUaW5hPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlRpbmE8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkJyYWRmb3JkPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkNpb2xla+KAkEZpZ2llbCwgQW5uZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Bbm5lPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5DaW9sZWstRmlnaWVsPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkluaXN04oCQQ05SUzwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkRpZXRpa2VyLCBTdGVmYW5pZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5TdGVmYW5pZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+RGlldGlrZXI8L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+RVRIIFrDvHJpY2g8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5FbGxpb3R0LCBKYW5uZWFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPkphbm5lYW48L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkVsbGlvdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5ET0UvT1NUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkdlbmF0LCBCZXJyaXQ8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QmVycml0PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5HZW5hdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5USUI8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5IYXJ6ZW5ldHRlciwgS2Fyb2xpbmU8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+S2Fyb2xpbmU8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkhhcnplbmV0dGVyPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkdFU0lTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+SGlyc2NobWFubiwgQmFyYmFyYTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5CYXJiYXJhPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5IaXJzY2htYW5uPC9mYW1pbHlOYW1lPg0KCQkJPG5hbWVJZGVudGlmaWVyIG5hbWVJZGVudGlmaWVyU2NoZW1lPSJPUkNJRCIgc2NoZW1lVVJJPSJodHRwOi8vb3JjaWQub3JnIj4wMDAwLTAwMDMtMDI4OS0wMzQ1PC9uYW1lSWRlbnRpZmllcj4NCgkJCTxhZmZpbGlhdGlvbj5FVEggWsO8cmljaDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkpha29ic3NvbiwgU3RlZmFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlN0ZWZhbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+SmFrb2Jzc29uPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlNORDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk1haWxsb3V4LCBKZWFu4oCQWXZlczwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5KZWFuLVl2ZXM8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk1haWxsb3V4PC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk5ld2JvbGQsIEVsaXphYmV0aDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5FbGl6YWJldGg8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5ld2JvbGQ8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi04MjU1LTkwMTM8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkJyaXRpc2ggTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCQkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+TmllbHNlbiwgTGFycyBIb2xtIDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5MYXJzIEhvbG08L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5pZWxzZW48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMS04MTM1LTM0ODk8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNFUk48L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5ZYWhpYSwgTW9oYW1lZDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Nb2hhbWVkPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5ZYWhpYTwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5JbmlzdC1DTlJTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iU3VwZXJ2aXNvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlppZWRvcm4sIEZyYXVrZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5GcmF1a2U8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPlppZWRvcm48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi0xMTQzLTc4MVg8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPlRJQjwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJPC9jb250cmlidXRvcnM+DQoJPGxhbmd1YWdlPmVuZzwvbGFuZ3VhZ2U+DQoJPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJUZXh0Ij5Eb2N1bWVudGF0aW9uPC9yZXNvdXJjZVR5cGU+DQoJPHJlbGF0ZWRJZGVudGlmaWVycz4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IkRvY3VtZW50cyI+MTAuNTQzOC8wMDEzPC9yZWxhdGVkSWRlbnRpZmllcj4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IklzTmV3VmVyc2lvbk9mIj4xMC41NDM4LzAwMTA8L3JlbGF0ZWRJZGVudGlmaWVyPg0KCTwvcmVsYXRlZElkZW50aWZpZXJzPg0KCTxzaXplcz4NCgkJPHNpemU+NDUgcGFnZXM8L3NpemU+DQoJPC9zaXplcz4NCgk8Zm9ybWF0cz4NCgkJPGZvcm1hdD5hcHBsaWNhdGlvbi9wZGY8L2Zvcm1hdD4NCgk8L2Zvcm1hdHM+DQoJPHZlcnNpb24+NC4wPC92ZXJzaW9uPg0KCTxkZXNjcmlwdGlvbnM+DQoJCTxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IlRhYmxlT2ZDb250ZW50cyI+MSBJbnRyb2R1Y3Rpb248YnIvPg0KMS4xIFRoZSBEYXRhQ2l0ZSBDb25zb3J0aXVtPGJyLz4NCjEuMiBEYXRhQ2l0ZSBDb21tdW5pdHkgUGFydGljaXBhdGlvbjxici8+DQoxLjMgVGhlIE1ldGFkYXRhIFNjaGVtYTxici8+DQoxLjQgVmVyc2lvbiA0LjAgVXBkYXRlPGJyLz4NCjIgRGF0YUNpdGUgTWV0YWRhdGEgUHJvcGVydGllczxici8+DQoyLjEgT3ZlcnZpZXc8YnIvPg0KMi4yIENpdGF0aW9uPGJyLz4NCjIuMyBEYXRhQ2l0ZSBQcm9wZXJ0aWVzPGJyLz4NCjMgWE1MIEV4YW1wbGU8YnIvPg0KNCBYTUwgU2NoZW1hPGJyLz4NCjUgT3RoZXIgRGF0YUNpdGUgU2VydmljZXM8YnIvPg0KQXBwZW5kaWNlczxici8+DQpBcHBlbmRpeCAxOiBDb250cm9sbGVkIExpc3QgRGVmaW5pdGlvbnM8YnIvPg0KQXBwZW5kaXggMjogRWFybGllciBWZXJzaW9uIFVwZGF0ZSBOb3RlczwvZGVzY3JpcHRpb24+DQoJPC9kZXNjcmlwdGlvbnM+DQo8L3Jlc291cmNlPg0K"}}},"relationships":{"type":"object","properties":{"publisher":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"member":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"registration-agency":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"resource-type":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"work-type":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/works/10.5438/0012"}],"samples-languages":["curl"]}}},"/works":{"get":{"summary":"List Works","description":"Returns a list of works (datasets, text documents, etc.) with associated metadata.","operationId":"testinput","parameters":[{"name":"rows","in":"query","schema":{"type":"integer","format":"int32","default":25}},{"name":"offset","in":"query","schema":{"type":"integer","format":"int32","default":0}},{"name":"sort","in":"query","description":".can be deposited, published, updated or score","schema":{"type":"string","default":"score"}},{"name":"order","in":"query","description":"can be asc or desc","schema":{"type":"string","default":"desc"}},{"name":"include","in":"query","description":"comma-separated list from data-center, member and resource-type","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"https://doi.org/10.15468/DL.XALEJ0\",\n      \"type\": \"works\",\n      \"attributes\": {\n        \"doi\": \"10.15468/DL.XALEJ0\",\n        \"url\": null,\n        \"author\": [\n          {\n            \"literal\": \"Occdownload Gbif.Org\"\n          }\n        ],\n        \"title\": \"GBIF Occurrence Download\",\n        \"container-title\": \"The Global Biodiversity Information Facility\",\n        \"description\": \"A dataset containing 61 species occurrences available in GBIF matching the query: TaxonKey: Abarema racemiflora (Donn.Sm.) Barneby & J.W.Grimes. The dataset includes 61 records from 13 constituent datasets: \\n 1 records from IAC - Herbário do Instituto Agronômico de Campinas. \\n 13 records from Plantae of Costa Rica (INBio). \\n 20 records from Tropicos Specimen Data. \\n 1 records from Natural History Museum (London) Collection Specimens. \\n 2 records from Natural History Museum, Vienna - Herbarium W. \\n 6 records from herbario. \\n 3 records from Harvard University Herbaria. \\n 1 records from Field Museum of Natural History (Botany)  Seed Plant Collection. \\n 3 records from The vascular plants collection (P) at the Herbarium of the Muséum national d'Histoire Naturelle (MNHN - Paris). \\n 2 records from Royal Botanic Gardens, Kew - Herbarium Specimens. \\n 6 records from The New York Botanical Garden Herbarium (NY) - Vascular Plant Collection. \\n 1 records from Gothenburg Herbarium - General (GBIF:IH:GB:Herbarium). \\n 2 records from Geneva Herbarium – General Collection (G). Data from some individual datasets included in this download may be licensed under less restrictive terms.\",\n        \"resource-type-subtype\": null,\n        \"publisher-id\": \"dk.gbif\",\n        \"member-id\": \"dk\",\n        \"registration-agency-id\": \"datacite\",\n        \"resource-type-id\": \"dataset\",\n        \"work-type-id\": \"dataset\",\n        \"version\": null,\n        \"license\": \"https://creativecommons.org/licenses/by/4.0/\",\n        \"schema-version\": \"3\",\n        \"results\": [],\n        \"published\": \"2017\",\n        \"deposited\": \"2017-01-04T01:57:04Z\",\n        \"updated\": \"2017-01-04T01:57:04Z\",\n        \"media\": null,\n        \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pgo8cmVzb3VyY2UgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCIgeG1sbnM9Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0zIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIj4KICAgIDxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjE1NDY4L2RsLnhhbGVqMDwvaWRlbnRpZmllcj4KICAgIDxjcmVhdG9ycz4KICAgICAgICA8Y3JlYXRvcj4KICAgICAgICAgICAgPGNyZWF0b3JOYW1lPm9jY2Rvd25sb2FkIGdiaWYub3JnPC9jcmVhdG9yTmFtZT4KICAgICAgICA8L2NyZWF0b3I+CiAgICA8L2NyZWF0b3JzPgogICAgPHRpdGxlcz4KICAgICAgICA8dGl0bGU+R0JJRiBPY2N1cnJlbmNlIERvd25sb2FkPC90aXRsZT4KICAgIDwvdGl0bGVzPgogICAgPHB1Ymxpc2hlcj5UaGUgR2xvYmFsIEJpb2RpdmVyc2l0eSBJbmZvcm1hdGlvbiBGYWNpbGl0eTwvcHVibGlzaGVyPgogICAgPHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+CiAgICA8c3ViamVjdHM+CiAgICAgICAgPHN1YmplY3QgeG1sOmxhbmc9ImVuZyI+R0JJRjwvc3ViamVjdD4KICAgICAgICA8c3ViamVjdCB4bWw6bGFuZz0iZW5nIj5iaW9kaXZlcnNpdHk8L3N1YmplY3Q+CiAgICAgICAgPHN1YmplY3QgeG1sOmxhbmc9ImVuZyI+c3BlY2llcyBvY2N1cnJlbmNlczwvc3ViamVjdD4KICAgIDwvc3ViamVjdHM+CiAgICA8ZGF0ZXM+CiAgICAgICAgPGRhdGUgZGF0ZVR5cGU9IkNyZWF0ZWQiPjIwMTctMDEtMDQ8L2RhdGU+CiAgICAgICAgPGRhdGUgZGF0ZVR5cGU9IlVwZGF0ZWQiPjIwMTctMDEtMDQ8L2RhdGU+CiAgICA8L2RhdGVzPgogICAgPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJEYXRhc2V0Ii8+CiAgICA8YWx0ZXJuYXRlSWRlbnRpZmllcnM+CiAgICAgICAgPGFsdGVybmF0ZUlkZW50aWZpZXIgYWx0ZXJuYXRlSWRlbnRpZmllclR5cGU9IkdCSUYiPjAwNDY5MTAtMTYwOTEwMTUwODUyMDkxPC9hbHRlcm5hdGVJZGVudGlmaWVyPgogICAgPC9hbHRlcm5hdGVJZGVudGlmaWVycz4KICAgIDxyZWxhdGVkSWRlbnRpZmllcnM+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3c0OHBpaTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3Rnbm84YTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2hqYTY5ZjwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjU1MTkvMDAwMjk2NTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4LzVzbDdzaDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3lodmJqODwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L28zcHZuaDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L254bnF6ZjwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L25jNnJ4eTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2x5NjBieDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4LzZlOG5qZTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2Fma2ZwaTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3J2amR1MTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICA8L3JlbGF0ZWRJZGVudGlmaWVycz4KICAgIDxzaXplcz4KICAgICAgICA8c2l6ZT42NDQ5PC9zaXplPgogICAgPC9zaXplcz4KICAgIDxmb3JtYXRzPgogICAgICAgIDxmb3JtYXQ+RGFyd2luIENvcmUgQXJjaGl2ZTwvZm9ybWF0PgogICAgPC9mb3JtYXRzPgogICAgPHJpZ2h0c0xpc3Q+CiAgICAgICAgPHJpZ2h0cyByaWdodHNVUkk9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL2xpY2Vuc2VzL2J5LzQuMC9sZWdhbGNvZGUiPkNyZWF0aXZlIENvbW1vbnMgQXR0cmlidXRpb24gKENDLUJZKSA0LjA8L3JpZ2h0cz4KICAgIDwvcmlnaHRzTGlzdD4KICAgIDxkZXNjcmlwdGlvbnM+CiAgICAgICAgPGRlc2NyaXB0aW9uIGRlc2NyaXB0aW9uVHlwZT0iQWJzdHJhY3QiIHhtbDpsYW5nPSJlbmciPkEgZGF0YXNldCBjb250YWluaW5nIDYxIHNwZWNpZXMgb2NjdXJyZW5jZXMgYXZhaWxhYmxlIGluIEdCSUYgbWF0Y2hpbmcgdGhlIHF1ZXJ5OiBUYXhvbktleTogQWJhcmVtYSByYWNlbWlmbG9yYSAoRG9ubi5TbS4pIEJhcm5lYnkgJmFtcDsgSi5XLkdyaW1lcy4gVGhlIGRhdGFzZXQgaW5jbHVkZXMgNjEgcmVjb3JkcyBmcm9tIDEzIGNvbnN0aXR1ZW50IGRhdGFzZXRzOiAKIDEgcmVjb3JkcyBmcm9tIElBQyAtIEhlcmLDoXJpbyBkbyBJbnN0aXR1dG8gQWdyb27DtG1pY28gZGUgQ2FtcGluYXMuIAogMTMgcmVjb3JkcyBmcm9tIFBsYW50YWUgb2YgQ29zdGEgUmljYSAoSU5CaW8pLiAKIDIwIHJlY29yZHMgZnJvbSBUcm9waWNvcyBTcGVjaW1lbiBEYXRhLiAKIDEgcmVjb3JkcyBmcm9tIE5hdHVyYWwgSGlzdG9yeSBNdXNldW0gKExvbmRvbikgQ29sbGVjdGlvbiBTcGVjaW1lbnMuIAogMiByZWNvcmRzIGZyb20gTmF0dXJhbCBIaXN0b3J5IE11c2V1bSwgVmllbm5hIC0gSGVyYmFyaXVtIFcuIAogNiByZWNvcmRzIGZyb20gaGVyYmFyaW8uIAogMyByZWNvcmRzIGZyb20gSGFydmFyZCBVbml2ZXJzaXR5IEhlcmJhcmlhLiAKIDEgcmVjb3JkcyBmcm9tIEZpZWxkIE11c2V1bSBvZiBOYXR1cmFsIEhpc3RvcnkgKEJvdGFueSkgIFNlZWQgUGxhbnQgQ29sbGVjdGlvbi4gCiAzIHJlY29yZHMgZnJvbSBUaGUgdmFzY3VsYXIgcGxhbnRzIGNvbGxlY3Rpb24gKFApIGF0IHRoZSBIZXJiYXJpdW0gb2YgdGhlIE11c8OpdW0gbmF0aW9uYWwgZCdIaXN0b2lyZSBOYXR1cmVsbGUgKE1OSE4gLSBQYXJpcykuIAogMiByZWNvcmRzIGZyb20gUm95YWwgQm90YW5pYyBHYXJkZW5zLCBLZXcgLSBIZXJiYXJpdW0gU3BlY2ltZW5zLiAKIDYgcmVjb3JkcyBmcm9tIFRoZSBOZXcgWW9yayBCb3RhbmljYWwgR2FyZGVuIEhlcmJhcml1bSAoTlkpIC0gVmFzY3VsYXIgUGxhbnQgQ29sbGVjdGlvbi4gCiAxIHJlY29yZHMgZnJvbSBHb3RoZW5idXJnIEhlcmJhcml1bSAtIEdlbmVyYWwgKEdCSUY6SUg6R0I6SGVyYmFyaXVtKS4gCiAyIHJlY29yZHMgZnJvbSBHZW5ldmEgSGVyYmFyaXVtIOKAkyBHZW5lcmFsIENvbGxlY3Rpb24gKEcpLiBEYXRhIGZyb20gc29tZSBpbmRpdmlkdWFsIGRhdGFzZXRzIGluY2x1ZGVkIGluIHRoaXMgZG93bmxvYWQgbWF5IGJlIGxpY2Vuc2VkIHVuZGVyIGxlc3MgcmVzdHJpY3RpdmUgdGVybXMuPC9kZXNjcmlwdGlvbj4KICAgIDwvZGVzY3JpcHRpb25zPgo8L3Jlc291cmNlPgo=\"\n      },\n      \"relationships\": {\n        \"publisher\": {\n          \"meta\": {}\n        },\n        \"member\": {\n          \"meta\": {}\n        },\n        \"registration-agency\": {\n          \"meta\": {}\n        },\n        \"resource-type\": {\n          \"meta\": {}\n        },\n        \"work-type\": {\n          \"meta\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"https://doi.org/10.6084/M9.FIGSHARE.4007775.V3\",\n      \"type\": \"works\",\n      \"attributes\": {\n        \"doi\": \"10.6084/M9.FIGSHARE.4007775.V3\",\n        \"url\": null,\n        \"author\": [\n          {\n            \"family\": \"Matthis\",\n            \"given\": \"Jonathan\"\n          }\n        ],\n        \"title\": \"Biomechanics Center of Mass Animations [VIDEO COLLECTION]\",\n        \"container-title\": \"Figshare\",\n        \"description\": \"Repository of a bunch of biomechanics gifs I made. <br><br>More information (including methods and analysis) at the following links: <br><br>Handstand - http://imgur.com/k9ryJq7<div><br></div><div>Balance beam - http://imgur.com/a/lbARg</div><div><br></div><div>Ballerina -http://imgur.com/a/kskuw</div><div><br></div><div>Hammer Throw - http://imgur.com/a/h1DPc<br><br><br>____________________________________<br>More info on me here - <a href=\\\"https://utexas.academia.edu/JonMatthis/Papers\\\" target=\\\"_blank\\\">https://utexas.academia.edu/JonMatthis/Papers</a></div><div><br></div>\",\n        \"resource-type-subtype\": \"Media\",\n        \"publisher-id\": \"figshare.ars\",\n        \"member-id\": \"figshare\",\n        \"registration-agency-id\": \"datacite\",\n        \"resource-type-id\": \"audiovisual\",\n        \"work-type-id\": \"motion-picture\",\n        \"version\": null,\n        \"license\": \"https://creativecommons.org/publicdomain/zero/1.0/\",\n        \"schema-version\": \"3\",\n        \"results\": [],\n        \"published\": \"2017\",\n        \"deposited\": \"2017-01-04T01:56:40Z\",\n        \"updated\": \"2017-01-04T01:56:40Z\",\n        \"media\": null,\n        \"xml\": \"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+PGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNjA4NC9tOS5maWdzaGFyZS40MDA3Nzc1LnYzPC9pZGVudGlmaWVyPjxjcmVhdG9ycz48Y3JlYXRvcj48Y3JlYXRvck5hbWU+Sm9uYXRoYW4gTWF0dGhpczwvY3JlYXRvck5hbWU+PC9jcmVhdG9yPjwvY3JlYXRvcnM+PHRpdGxlcz48dGl0bGU+QmlvbWVjaGFuaWNzIENlbnRlciBvZiBNYXNzIEFuaW1hdGlvbnMgW1ZJREVPIENPTExFQ1RJT05dPC90aXRsZT48L3RpdGxlcz48ZGVzY3JpcHRpb25zPjxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IkFic3RyYWN0Ij5SZXBvc2l0b3J5IG9mIGEgYnVuY2ggb2YgYmlvbWVjaGFuaWNzIGdpZnMgSSBtYWRlLsKgJmx0O2JyJmd0OyZsdDticiZndDtNb3JlIGluZm9ybWF0aW9uIChpbmNsdWRpbmcgbWV0aG9kcyBhbmQgYW5hbHlzaXMpIGF0IHRoZSBmb2xsb3dpbmcgbGlua3M6wqAmbHQ7YnImZ3Q7Jmx0O2JyJmd0O0hhbmRzdGFuZCAtIGh0dHA6Ly9pbWd1ci5jb20vazlyeUpxNyZsdDtkaXYmZ3Q7Jmx0O2JyJmd0OyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7QmFsYW5jZSBiZWFtIC3CoGh0dHA6Ly9pbWd1ci5jb20vYS9sYkFSZyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7Jmx0O2JyJmd0OyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7QmFsbGVyaW5hIC1odHRwOi8vaW1ndXIuY29tL2Eva3NrdXcmbHQ7L2RpdiZndDsmbHQ7ZGl2Jmd0OyZsdDticiZndDsmbHQ7L2RpdiZndDsmbHQ7ZGl2Jmd0O0hhbW1lciBUaHJvdyAtwqBodHRwOi8vaW1ndXIuY29tL2EvaDFEUGMmbHQ7YnImZ3Q7Jmx0O2JyJmd0OyZsdDticiZndDtfX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX18mbHQ7YnImZ3Q7TW9yZSBpbmZvIG9uIG1lIGhlcmUgLcKgJmx0O2EgaHJlZj0iaHR0cHM6Ly91dGV4YXMuYWNhZGVtaWEuZWR1L0pvbk1hdHRoaXMvUGFwZXJzIiB0YXJnZXQ9Il9ibGFuayImZ3Q7aHR0cHM6Ly91dGV4YXMuYWNhZGVtaWEuZWR1L0pvbk1hdHRoaXMvUGFwZXJzJmx0Oy9hJmd0OyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7Jmx0O2JyJmd0OyZsdDsvZGl2Jmd0OzwvZGVzY3JpcHRpb24+PC9kZXNjcmlwdGlvbnM+PHN1YmplY3RzPjxzdWJqZWN0IHNjaGVtZVVSST0iaHR0cDovL3d3dy5hYnMuZ292LmF1L2F1c3N0YXRzL2Fic0AubnNmLzAvNkJCNDI3QUI5Njk2QzIyNUNBMjU3NDE4MDAwNDQ2M0UiIHN1YmplY3RTY2hlbWU9IkZPUiI+MTEwNjAxIEJpb21lY2hhbmljczwvc3ViamVjdD48c3ViamVjdCBzY2hlbWVVUkk9Imh0dHA6Ly93d3cuYWJzLmdvdi5hdS9hdXNzdGF0cy9hYnNALm5zZi8wLzZCQjQyN0FCOTY5NkMyMjVDQTI1NzQxODAwMDQ0NjNFIiBzdWJqZWN0U2NoZW1lPSJGT1IiPjExMDYwMyBNb3RvciBDb250cm9sPC9zdWJqZWN0PjxzdWJqZWN0IHNjaGVtZVVSST0iaHR0cDovL3d3dy5hYnMuZ292LmF1L2F1c3N0YXRzL2Fic0AubnNmLzAvNkJCNDI3QUI5Njk2QzIyNUNBMjU3NDE4MDAwNDQ2M0UiIHN1YmplY3RTY2hlbWU9IkZPUiI+MTEwNjk5IEh1bWFuIE1vdmVtZW50IGFuZCBTcG9ydHMgU2NpZW5jZSBub3QgZWxzZXdoZXJlIGNsYXNzaWZpZWQ8L3N1YmplY3Q+PC9zdWJqZWN0cz48cHVibGlzaGVyPkZpZ3NoYXJlPC9wdWJsaXNoZXI+PHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+PGRhdGVzPjxkYXRlIGRhdGVUeXBlPSJDcmVhdGVkIj4yMDE3LTAxLTA0PC9kYXRlPjxkYXRlIGRhdGVUeXBlPSJVcGRhdGVkIj4yMDE3LTAxLTA0PC9kYXRlPjwvZGF0ZXM+PHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJBdWRpb3Zpc3VhbCI+TWVkaWE8L3Jlc291cmNlVHlwZT48c2l6ZXM+PHNpemU+NjcwMTY3NDQgQnl0ZXM8L3NpemU+PC9zaXplcz48cmVsYXRlZElkZW50aWZpZXJzPjxyZWxhdGVkSWRlbnRpZmllciByZWxhdGVkSWRlbnRpZmllclR5cGU9IkRPSSIgcmVsYXRpb25UeXBlPSJJc0lkZW50aWNhbFRvIj4xMC42MDg0L205LmZpZ3NoYXJlLjQwMDc3NzU8L3JlbGF0ZWRJZGVudGlmaWVyPjwvcmVsYXRlZElkZW50aWZpZXJzPjxyaWdodHNMaXN0PjxyaWdodHMgcmlnaHRzVVJJPSJodHRwczovL2NyZWF0aXZlY29tbW9ucy5vcmcvcHVibGljZG9tYWluL3plcm8vMS4wLyI+Q0MtMDwvcmlnaHRzPjwvcmlnaHRzTGlzdD48L3Jlc291cmNlPg==\"\n      },\n      \"relationships\": {\n        \"publisher\": {\n          \"meta\": {}\n        },\n        \"member\": {\n          \"meta\": {}\n        },\n        \"registration-agency\": {\n          \"meta\": {}\n        },\n        \"resource-type\": {\n          \"meta\": {}\n        },\n        \"work-type\": {\n          \"meta\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"https://doi.org/10.13140/RG.2.2.17768.88326\",\n      \"type\": \"works\",\n      \"attributes\": {\n        \"doi\": \"10.13140/RG.2.2.17768.88326\",\n        \"url\": null,\n        \"author\": [\n          {\n            \"family\": \"Valenzuela-Rendón\",\n            \"given\": \"Manuel\"\n          }\n        ],\n        \"title\": \"vgGA2.0 (Octave/MATLAB)\",\n        \"container-title\": \"Unpublished\",\n        \"description\": null,\n        \"resource-type-subtype\": \"Code\",\n        \"publisher-id\": \"rg.rg\",\n        \"member-id\": \"rg\",\n        \"registration-agency-id\": \"datacite\",\n        \"resource-type-id\": \"dataset\",\n        \"work-type-id\": \"dataset\",\n        \"version\": null,\n        \"license\": null,\n        \"schema-version\": \"4\",\n        \"results\": [],\n        \"published\": \"2017\",\n        \"deposited\": \"2017-01-04T01:53:30Z\",\n        \"updated\": \"2017-01-04T01:53:30Z\",\n        \"media\": null,\n        \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxyZXNvdXJjZSB4c2k6c2NoZW1hTG9jYXRpb249Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC00IGh0dHA6Ly9zY2hlbWEuZGF0YWNpdGUub3JnL21ldGEva2VybmVsLTQvbWV0YWRhdGEueHNkIiB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPjxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjEzMTQwL1JHLjIuMi4xNzc2OC44ODMyNjwvaWRlbnRpZmllcj48Y3JlYXRvcnM+PGNyZWF0b3I+PGNyZWF0b3JOYW1lPk1hbnVlbCBWYWxlbnp1ZWxhLVJlbmTDs248L2NyZWF0b3JOYW1lPjwvY3JlYXRvcj48L2NyZWF0b3JzPjx0aXRsZXM+PHRpdGxlPnZnR0EyLjAgKE9jdGF2ZS9NQVRMQUIpPC90aXRsZT48L3RpdGxlcz48cHVibGlzaGVyPlVucHVibGlzaGVkPC9wdWJsaXNoZXI+PHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+PHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJEYXRhc2V0Ij5Db2RlPC9yZXNvdXJjZVR5cGU+PC9yZXNvdXJjZT4=\"\n      },\n      \"relationships\": {\n        \"publisher\": {\n          \"meta\": {}\n        },\n        \"member\": {\n          \"meta\": {}\n        },\n        \"registration-agency\": {\n          \"meta\": {}\n        },\n        \"resource-type\": {\n          \"meta\": {}\n        },\n        \"work-type\": {\n          \"meta\": {}\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"resource-types\": [\n      {\n        \"id\": \"dataset\",\n        \"title\": \"Dataset\",\n        \"count\": 2923633\n      },\n      {\n        \"id\": \"text\",\n        \"title\": \"Text\",\n        \"count\": 1588230\n      },\n      {\n        \"id\": \"other\",\n        \"title\": \"Other\",\n        \"count\": 882665\n      },\n      {\n        \"id\": \"image\",\n        \"title\": \"Image\",\n        \"count\": 833098\n      },\n      {\n        \"id\": \"collection\",\n        \"title\": \"Collection\",\n        \"count\": 381883\n      },\n      {\n        \"id\": \"software\",\n        \"title\": \"Software\",\n        \"count\": 20790\n      },\n      {\n        \"id\": \"audiovisual\",\n        \"title\": \"Audiovisual\",\n        \"count\": 14110\n      },\n      {\n        \"id\": \"event\",\n        \"title\": \"Event\",\n        \"count\": 6932\n      },\n      {\n        \"id\": \"physical-object\",\n        \"title\": \"Physical object\",\n        \"count\": 6679\n      },\n      {\n        \"id\": \"film\",\n        \"title\": \"Film\",\n        \"count\": 947\n      },\n      {\n        \"id\": \"model\",\n        \"title\": \"Model\",\n        \"count\": 604\n      },\n      {\n        \"id\": \"interactive-resource\",\n        \"title\": \"Interactive resource\",\n        \"count\": 407\n      },\n      {\n        \"id\": \"sound\",\n        \"title\": \"Sound\",\n        \"count\": 344\n      },\n      {\n        \"id\": \"workflow\",\n        \"title\": \"Workflow\",\n        \"count\": 252\n      },\n      {\n        \"id\": \"service\",\n        \"title\": \"Service\",\n        \"count\": 29\n      }\n    ],\n    \"years\": [\n      {\n        \"id\": \"2016\",\n        \"title\": \"2016\",\n        \"count\": 834677\n      },\n      {\n        \"id\": \"2015\",\n        \"title\": \"2015\",\n        \"count\": 2080251\n      },\n      {\n        \"id\": \"2014\",\n        \"title\": \"2014\",\n        \"count\": 973996\n      },\n      {\n        \"id\": \"2013\",\n        \"title\": \"2013\",\n        \"count\": 353263\n      },\n      {\n        \"id\": \"2012\",\n        \"title\": \"2012\",\n        \"count\": 232386\n      },\n      {\n        \"id\": \"2011\",\n        \"title\": \"2011\",\n        \"count\": 353464\n      },\n      {\n        \"id\": \"2010\",\n        \"title\": \"2010\",\n        \"count\": 159988\n      },\n      {\n        \"id\": \"2009\",\n        \"
[...]
