{"openapi":"3.1.0","info":{"title":"api-settings","version":"1.1"},"servers":[{"url":"https://api.datacite.org"}],"components":{"securitySchemes":{}},"security":[{}],"paths":{"/works":{"get":{"summary":"List Works","description":"Returns a list of works (datasets, text documents, etc.) with associated metadata.","operationId":"list-works","parameters":[{"name":"page[size]","in":"query","schema":{"type":"integer","format":"int32","default":25}},{"name":"page[number]","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"sort","in":"query","description":".can be deposited, published, updated or score","schema":{"type":"string","default":"score"}},{"name":"order","in":"query","description":"can be asc or desc","schema":{"type":"string","default":"desc"}},{"name":"include","in":"query","description":"comma-separated list from data-center, member and resource-type","schema":{"type":"string"}},{"name":"sample","in":"query","description":"A random sample from the query results","schema":{"type":"integer","format":"int32"}},{"name":"sample-group","in":"query","description":"One of client, data-center, provider or resource-type","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"https://doi.org/10.15468/DL.XALEJ0\",\n      \"type\": \"works\",\n      \"attributes\": {\n        \"doi\": \"10.15468/DL.XALEJ0\",\n        \"url\": null,\n        \"author\": [\n          {\n            \"literal\": \"Occdownload Gbif.Org\"\n          }\n        ],\n        \"title\": \"GBIF Occurrence Download\",\n        \"container-title\": \"The Global Biodiversity Information Facility\",\n        \"description\": \"A dataset containing 61 species occurrences available in GBIF matching the query: TaxonKey: Abarema racemiflora (Donn.Sm.) Barneby & J.W.Grimes. The dataset includes 61 records from 13 constituent datasets: \\n 1 records from IAC - Herbário do Instituto Agronômico de Campinas. \\n 13 records from Plantae of Costa Rica (INBio). \\n 20 records from Tropicos Specimen Data. \\n 1 records from Natural History Museum (London) Collection Specimens. \\n 2 records from Natural History Museum, Vienna - Herbarium W. \\n 6 records from herbario. \\n 3 records from Harvard University Herbaria. \\n 1 records from Field Museum of Natural History (Botany)  Seed Plant Collection. \\n 3 records from The vascular plants collection (P) at the Herbarium of the Muséum national d'Histoire Naturelle (MNHN - Paris). \\n 2 records from Royal Botanic Gardens, Kew - Herbarium Specimens. \\n 6 records from The New York Botanical Garden Herbarium (NY) - Vascular Plant Collection. \\n 1 records from Gothenburg Herbarium - General (GBIF:IH:GB:Herbarium). \\n 2 records from Geneva Herbarium – General Collection (G). Data from some individual datasets included in this download may be licensed under less restrictive terms.\",\n        \"resource-type-subtype\": null,\n        \"publisher-id\": \"dk.gbif\",\n        \"member-id\": \"dk\",\n        \"registration-agency-id\": \"datacite\",\n        \"resource-type-id\": \"dataset\",\n        \"work-type-id\": \"dataset\",\n        \"version\": null,\n        \"license\": \"https://creativecommons.org/licenses/by/4.0/\",\n        \"schema-version\": \"3\",\n        \"results\": [],\n        \"published\": \"2017\",\n        \"deposited\": \"2017-01-04T01:57:04Z\",\n        \"updated\": \"2017-01-04T01:57:04Z\",\n        \"media\": null,\n        \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pgo8cmVzb3VyY2UgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCIgeG1sbnM9Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0zIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIj4KICAgIDxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjE1NDY4L2RsLnhhbGVqMDwvaWRlbnRpZmllcj4KICAgIDxjcmVhdG9ycz4KICAgICAgICA8Y3JlYXRvcj4KICAgICAgICAgICAgPGNyZWF0b3JOYW1lPm9jY2Rvd25sb2FkIGdiaWYub3JnPC9jcmVhdG9yTmFtZT4KICAgICAgICA8L2NyZWF0b3I+CiAgICA8L2NyZWF0b3JzPgogICAgPHRpdGxlcz4KICAgICAgICA8dGl0bGU+R0JJRiBPY2N1cnJlbmNlIERvd25sb2FkPC90aXRsZT4KICAgIDwvdGl0bGVzPgogICAgPHB1Ymxpc2hlcj5UaGUgR2xvYmFsIEJpb2RpdmVyc2l0eSBJbmZvcm1hdGlvbiBGYWNpbGl0eTwvcHVibGlzaGVyPgogICAgPHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+CiAgICA8c3ViamVjdHM+CiAgICAgICAgPHN1YmplY3QgeG1sOmxhbmc9ImVuZyI+R0JJRjwvc3ViamVjdD4KICAgICAgICA8c3ViamVjdCB4bWw6bGFuZz0iZW5nIj5iaW9kaXZlcnNpdHk8L3N1YmplY3Q+CiAgICAgICAgPHN1YmplY3QgeG1sOmxhbmc9ImVuZyI+c3BlY2llcyBvY2N1cnJlbmNlczwvc3ViamVjdD4KICAgIDwvc3ViamVjdHM+CiAgICA8ZGF0ZXM+CiAgICAgICAgPGRhdGUgZGF0ZVR5cGU9IkNyZWF0ZWQiPjIwMTctMDEtMDQ8L2RhdGU+CiAgICAgICAgPGRhdGUgZGF0ZVR5cGU9IlVwZGF0ZWQiPjIwMTctMDEtMDQ8L2RhdGU+CiAgICA8L2RhdGVzPgogICAgPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJEYXRhc2V0Ii8+CiAgICA8YWx0ZXJuYXRlSWRlbnRpZmllcnM+CiAgICAgICAgPGFsdGVybmF0ZUlkZW50aWZpZXIgYWx0ZXJuYXRlSWRlbnRpZmllclR5cGU9IkdCSUYiPjAwNDY5MTAtMTYwOTEwMTUwODUyMDkxPC9hbHRlcm5hdGVJZGVudGlmaWVyPgogICAgPC9hbHRlcm5hdGVJZGVudGlmaWVycz4KICAgIDxyZWxhdGVkSWRlbnRpZmllcnM+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3c0OHBpaTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3Rnbm84YTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2hqYTY5ZjwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjU1MTkvMDAwMjk2NTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4LzVzbDdzaDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3lodmJqODwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L28zcHZuaDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L254bnF6ZjwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L25jNnJ4eTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2x5NjBieDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4LzZlOG5qZTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2Fma2ZwaTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3J2amR1MTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICA8L3JlbGF0ZWRJZGVudGlmaWVycz4KICAgIDxzaXplcz4KICAgICAgICA8c2l6ZT42NDQ5PC9zaXplPgogICAgPC9zaXplcz4KICAgIDxmb3JtYXRzPgogICAgICAgIDxmb3JtYXQ+RGFyd2luIENvcmUgQXJjaGl2ZTwvZm9ybWF0PgogICAgPC9mb3JtYXRzPgogICAgPHJpZ2h0c0xpc3Q+CiAgICAgICAgPHJpZ2h0cyByaWdodHNVUkk9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL2xpY2Vuc2VzL2J5LzQuMC9sZWdhbGNvZGUiPkNyZWF0aXZlIENvbW1vbnMgQXR0cmlidXRpb24gKENDLUJZKSA0LjA8L3JpZ2h0cz4KICAgIDwvcmlnaHRzTGlzdD4KICAgIDxkZXNjcmlwdGlvbnM+CiAgICAgICAgPGRlc2NyaXB0aW9uIGRlc2NyaXB0aW9uVHlwZT0iQWJzdHJhY3QiIHhtbDpsYW5nPSJlbmciPkEgZGF0YXNldCBjb250YWluaW5nIDYxIHNwZWNpZXMgb2NjdXJyZW5jZXMgYXZhaWxhYmxlIGluIEdCSUYgbWF0Y2hpbmcgdGhlIHF1ZXJ5OiBUYXhvbktleTogQWJhcmVtYSByYWNlbWlmbG9yYSAoRG9ubi5TbS4pIEJhcm5lYnkgJmFtcDsgSi5XLkdyaW1lcy4gVGhlIGRhdGFzZXQgaW5jbHVkZXMgNjEgcmVjb3JkcyBmcm9tIDEzIGNvbnN0aXR1ZW50IGRhdGFzZXRzOiAKIDEgcmVjb3JkcyBmcm9tIElBQyAtIEhlcmLDoXJpbyBkbyBJbnN0aXR1dG8gQWdyb27DtG1pY28gZGUgQ2FtcGluYXMuIAogMTMgcmVjb3JkcyBmcm9tIFBsYW50YWUgb2YgQ29zdGEgUmljYSAoSU5CaW8pLiAKIDIwIHJlY29yZHMgZnJvbSBUcm9waWNvcyBTcGVjaW1lbiBEYXRhLiAKIDEgcmVjb3JkcyBmcm9tIE5hdHVyYWwgSGlzdG9yeSBNdXNldW0gKExvbmRvbikgQ29sbGVjdGlvbiBTcGVjaW1lbnMuIAogMiByZWNvcmRzIGZyb20gTmF0dXJhbCBIaXN0b3J5IE11c2V1bSwgVmllbm5hIC0gSGVyYmFyaXVtIFcuIAogNiByZWNvcmRzIGZyb20gaGVyYmFyaW8uIAogMyByZWNvcmRzIGZyb20gSGFydmFyZCBVbml2ZXJzaXR5IEhlcmJhcmlhLiAKIDEgcmVjb3JkcyBmcm9tIEZpZWxkIE11c2V1bSBvZiBOYXR1cmFsIEhpc3RvcnkgKEJvdGFueSkgIFNlZWQgUGxhbnQgQ29sbGVjdGlvbi4gCiAzIHJlY29yZHMgZnJvbSBUaGUgdmFzY3VsYXIgcGxhbnRzIGNvbGxlY3Rpb24gKFApIGF0IHRoZSBIZXJiYXJpdW0gb2YgdGhlIE11c8OpdW0gbmF0aW9uYWwgZCdIaXN0b2lyZSBOYXR1cmVsbGUgKE1OSE4gLSBQYXJpcykuIAogMiByZWNvcmRzIGZyb20gUm95YWwgQm90YW5pYyBHYXJkZW5zLCBLZXcgLSBIZXJiYXJpdW0gU3BlY2ltZW5zLiAKIDYgcmVjb3JkcyBmcm9tIFRoZSBOZXcgWW9yayBCb3RhbmljYWwgR2FyZGVuIEhlcmJhcml1bSAoTlkpIC0gVmFzY3VsYXIgUGxhbnQgQ29sbGVjdGlvbi4gCiAxIHJlY29yZHMgZnJvbSBHb3RoZW5idXJnIEhlcmJhcml1bSAtIEdlbmVyYWwgKEdCSUY6SUg6R0I6SGVyYmFyaXVtKS4gCiAyIHJlY29yZHMgZnJvbSBHZW5ldmEgSGVyYmFyaXVtIOKAkyBHZW5lcmFsIENvbGxlY3Rpb24gKEcpLiBEYXRhIGZyb20gc29tZSBpbmRpdmlkdWFsIGRhdGFzZXRzIGluY2x1ZGVkIGluIHRoaXMgZG93bmxvYWQgbWF5IGJlIGxpY2Vuc2VkIHVuZGVyIGxlc3MgcmVzdHJpY3RpdmUgdGVybXMuPC9kZXNjcmlwdGlvbj4KICAgIDwvZGVzY3JpcHRpb25zPgo8L3Jlc291cmNlPgo=\"\n      },\n      \"relationships\": {\n        \"publisher\": {\n          \"meta\": {}\n        },\n        \"member\": {\n          \"meta\": {}\n        },\n        \"registration-agency\": {\n          \"meta\": {}\n        },\n        \"resource-type\": {\n          \"meta\": {}\n        },\n        \"work-type\": {\n          \"meta\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"https://doi.org/10.6084/M9.FIGSHARE.4007775.V3\",\n      \"type\": \"works\",\n      \"attributes\": {\n        \"doi\": \"10.6084/M9.FIGSHARE.4007775.V3\",\n        \"url\": null,\n        \"author\": [\n          {\n            \"family\": \"Matthis\",\n            \"given\": \"Jonathan\"\n          }\n        ],\n        \"title\": \"Biomechanics Center of Mass Animations [VIDEO COLLECTION]\",\n        \"container-title\": \"Figshare\",\n        \"description\": \"Repository of a bunch of biomechanics gifs I made. <br><br>More information (including methods and analysis) at the following links: <br><br>Handstand - http://imgur.com/k9ryJq7<div><br></div><div>Balance beam - http://imgur.com/a/lbARg</div><div><br></div><div>Ballerina -http://imgur.com/a/kskuw</div><div><br></div><div>Hammer Throw - http://imgur.com/a/h1DPc<br><br><br>____________________________________<br>More info on me here - <a href=\\\"https://utexas.academia.edu/JonMatthis/Papers\\\" target=\\\"_blank\\\">https://utexas.academia.edu/JonMatthis/Papers</a></div><div><br></div>\",\n        \"resource-type-subtype\": \"Media\",\n        \"publisher-id\": \"figshare.ars\",\n        \"member-id\": \"figshare\",\n        \"registration-agency-id\": \"datacite\",\n        \"resource-type-id\": \"audiovisual\",\n        \"work-type-id\": \"motion-picture\",\n        \"version\": null,\n        \"license\": \"https://creativecommons.org/publicdomain/zero/1.0/\",\n        \"schema-version\": \"3\",\n        \"results\": [],\n        \"published\": \"2017\",\n        \"deposited\": \"2017-01-04T01:56:40Z\",\n        \"updated\": \"2017-01-04T01:56:40Z\",\n        \"media\": null,\n        \"xml\": \"PHJlc291cmNlIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCI+PGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNjA4NC9tOS5maWdzaGFyZS40MDA3Nzc1LnYzPC9pZGVudGlmaWVyPjxjcmVhdG9ycz48Y3JlYXRvcj48Y3JlYXRvck5hbWU+Sm9uYXRoYW4gTWF0dGhpczwvY3JlYXRvck5hbWU+PC9jcmVhdG9yPjwvY3JlYXRvcnM+PHRpdGxlcz48dGl0bGU+QmlvbWVjaGFuaWNzIENlbnRlciBvZiBNYXNzIEFuaW1hdGlvbnMgW1ZJREVPIENPTExFQ1RJT05dPC90aXRsZT48L3RpdGxlcz48ZGVzY3JpcHRpb25zPjxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IkFic3RyYWN0Ij5SZXBvc2l0b3J5IG9mIGEgYnVuY2ggb2YgYmlvbWVjaGFuaWNzIGdpZnMgSSBtYWRlLsKgJmx0O2JyJmd0OyZsdDticiZndDtNb3JlIGluZm9ybWF0aW9uIChpbmNsdWRpbmcgbWV0aG9kcyBhbmQgYW5hbHlzaXMpIGF0IHRoZSBmb2xsb3dpbmcgbGlua3M6wqAmbHQ7YnImZ3Q7Jmx0O2JyJmd0O0hhbmRzdGFuZCAtIGh0dHA6Ly9pbWd1ci5jb20vazlyeUpxNyZsdDtkaXYmZ3Q7Jmx0O2JyJmd0OyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7QmFsYW5jZSBiZWFtIC3CoGh0dHA6Ly9pbWd1ci5jb20vYS9sYkFSZyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7Jmx0O2JyJmd0OyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7QmFsbGVyaW5hIC1odHRwOi8vaW1ndXIuY29tL2Eva3NrdXcmbHQ7L2RpdiZndDsmbHQ7ZGl2Jmd0OyZsdDticiZndDsmbHQ7L2RpdiZndDsmbHQ7ZGl2Jmd0O0hhbW1lciBUaHJvdyAtwqBodHRwOi8vaW1ndXIuY29tL2EvaDFEUGMmbHQ7YnImZ3Q7Jmx0O2JyJmd0OyZsdDticiZndDtfX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX19fX18mbHQ7YnImZ3Q7TW9yZSBpbmZvIG9uIG1lIGhlcmUgLcKgJmx0O2EgaHJlZj0iaHR0cHM6Ly91dGV4YXMuYWNhZGVtaWEuZWR1L0pvbk1hdHRoaXMvUGFwZXJzIiB0YXJnZXQ9Il9ibGFuayImZ3Q7aHR0cHM6Ly91dGV4YXMuYWNhZGVtaWEuZWR1L0pvbk1hdHRoaXMvUGFwZXJzJmx0Oy9hJmd0OyZsdDsvZGl2Jmd0OyZsdDtkaXYmZ3Q7Jmx0O2JyJmd0OyZsdDsvZGl2Jmd0OzwvZGVzY3JpcHRpb24+PC9kZXNjcmlwdGlvbnM+PHN1YmplY3RzPjxzdWJqZWN0IHNjaGVtZVVSST0iaHR0cDovL3d3dy5hYnMuZ292LmF1L2F1c3N0YXRzL2Fic0AubnNmLzAvNkJCNDI3QUI5Njk2QzIyNUNBMjU3NDE4MDAwNDQ2M0UiIHN1YmplY3RTY2hlbWU9IkZPUiI+MTEwNjAxIEJpb21lY2hhbmljczwvc3ViamVjdD48c3ViamVjdCBzY2hlbWVVUkk9Imh0dHA6Ly93d3cuYWJzLmdvdi5hdS9hdXNzdGF0cy9hYnNALm5zZi8wLzZCQjQyN0FCOTY5NkMyMjVDQTI1NzQxODAwMDQ0NjNFIiBzdWJqZWN0U2NoZW1lPSJGT1IiPjExMDYwMyBNb3RvciBDb250cm9sPC9zdWJqZWN0PjxzdWJqZWN0IHNjaGVtZVVSST0iaHR0cDovL3d3dy5hYnMuZ292LmF1L2F1c3N0YXRzL2Fic0AubnNmLzAvNkJCNDI3QUI5Njk2QzIyNUNBMjU3NDE4MDAwNDQ2M0UiIHN1YmplY3RTY2hlbWU9IkZPUiI+MTEwNjk5IEh1bWFuIE1vdmVtZW50IGFuZCBTcG9ydHMgU2NpZW5jZSBub3QgZWxzZXdoZXJlIGNsYXNzaWZpZWQ8L3N1YmplY3Q+PC9zdWJqZWN0cz48cHVibGlzaGVyPkZpZ3NoYXJlPC9wdWJsaXNoZXI+PHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+PGRhdGVzPjxkYXRlIGRhdGVUeXBlPSJDcmVhdGVkIj4yMDE3LTAxLTA0PC9kYXRlPjxkYXRlIGRhdGVUeXBlPSJVcGRhdGVkIj4yMDE3LTAxLTA0PC9kYXRlPjwvZGF0ZXM+PHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJBdWRpb3Zpc3VhbCI+TWVkaWE8L3Jlc291cmNlVHlwZT48c2l6ZXM+PHNpemU+NjcwMTY3NDQgQnl0ZXM8L3NpemU+PC9zaXplcz48cmVsYXRlZElkZW50aWZpZXJzPjxyZWxhdGVkSWRlbnRpZmllciByZWxhdGVkSWRlbnRpZmllclR5cGU9IkRPSSIgcmVsYXRpb25UeXBlPSJJc0lkZW50aWNhbFRvIj4xMC42MDg0L205LmZpZ3NoYXJlLjQwMDc3NzU8L3JlbGF0ZWRJZGVudGlmaWVyPjwvcmVsYXRlZElkZW50aWZpZXJzPjxyaWdodHNMaXN0PjxyaWdodHMgcmlnaHRzVVJJPSJodHRwczovL2NyZWF0aXZlY29tbW9ucy5vcmcvcHVibGljZG9tYWluL3plcm8vMS4wLyI+Q0MtMDwvcmlnaHRzPjwvcmlnaHRzTGlzdD48L3Jlc291cmNlPg==\"\n      },\n      \"relationships\": {\n        \"publisher\": {\n          \"meta\": {}\n        },\n        \"member\": {\n          \"meta\": {}\n        },\n        \"registration-agency\": {\n          \"meta\": {}\n        },\n        \"resource-type\": {\n          \"meta\": {}\n        },\n        \"work-type\": {\n          \"meta\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"https://doi.org/10.13140/RG.2.2.17768.88326\",\n      \"type\": \"works\",\n      \"attributes\": {\n        \"doi\": \"10.13140/RG.2.2.17768.88326\",\n        \"url\": null,\n        \"author\": [\n          {\n            \"family\": \"Valenzuela-Rendón\",\n            \"given\": \"Manuel\"\n          }\n        ],\n        \"title\": \"vgGA2.0 (Octave/MATLAB)\",\n        \"container-title\": \"Unpublished\",\n        \"description\": null,\n        \"resource-type-subtype\": \"Code\",\n        \"publisher-id\": \"rg.rg\",\n        \"member-id\": \"rg\",\n        \"registration-agency-id\": \"datacite\",\n        \"resource-type-id\": \"dataset\",\n        \"work-type-id\": \"dataset\",\n        \"version\": null,\n        \"license\": null,\n        \"schema-version\": \"4\",\n        \"results\": [],\n        \"published\": \"2017\",\n        \"deposited\": \"2017-01-04T01:53:30Z\",\n        \"updated\": \"2017-01-04T01:53:30Z\",\n        \"media\": null,\n        \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxyZXNvdXJjZSB4c2k6c2NoZW1hTG9jYXRpb249Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC00IGh0dHA6Ly9zY2hlbWEuZGF0YWNpdGUub3JnL21ldGEva2VybmVsLTQvbWV0YWRhdGEueHNkIiB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiPjxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjEzMTQwL1JHLjIuMi4xNzc2OC44ODMyNjwvaWRlbnRpZmllcj48Y3JlYXRvcnM+PGNyZWF0b3I+PGNyZWF0b3JOYW1lPk1hbnVlbCBWYWxlbnp1ZWxhLVJlbmTDs248L2NyZWF0b3JOYW1lPjwvY3JlYXRvcj48L2NyZWF0b3JzPjx0aXRsZXM+PHRpdGxlPnZnR0EyLjAgKE9jdGF2ZS9NQVRMQUIpPC90aXRsZT48L3RpdGxlcz48cHVibGlzaGVyPlVucHVibGlzaGVkPC9wdWJsaXNoZXI+PHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+PHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJEYXRhc2V0Ij5Db2RlPC9yZXNvdXJjZVR5cGU+PC9yZXNvdXJjZT4=\"\n      },\n      \"relationships\": {\n        \"publisher\": {\n          \"meta\": {}\n        },\n        \"member\": {\n          \"meta\": {}\n        },\n        \"registration-agency\": {\n          \"meta\": {}\n        },\n        \"resource-type\": {\n          \"meta\": {}\n        },\n        \"work-type\": {\n          \"meta\": {}\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"resource-types\": [\n      {\n        \"id\": \"dataset\",\n        \"title\": \"Dataset\",\n        \"count\": 2923633\n      },\n      {\n        \"id\": \"text\",\n        \"title\": \"Text\",\n        \"count\": 1588230\n      },\n      {\n        \"id\": \"other\",\n        \"title\": \"Other\",\n        \"count\": 882665\n      },\n      {\n        \"id\": \"image\",\n        \"title\": \"Image\",\n        \"count\": 833098\n      },\n      {\n        \"id\": \"collection\",\n        \"title\": \"Collection\",\n        \"count\": 381883\n      },\n      {\n        \"id\": \"software\",\n        \"title\": \"Software\",\n        \"count\": 20790\n      },\n      {\n        \"id\": \"audiovisual\",\n        \"title\": \"Audiovisual\",\n        \"count\": 14110\n      },\n      {\n        \"id\": \"event\",\n        \"title\": \"Event\",\n        \"count\": 6932\n      },\n      {\n        \"id\": \"physical-object\",\n        \"title\": \"Physical object\",\n        \"count\": 6679\n      },\n      {\n        \"id\": \"film\",\n        \"title\": \"Film\",\n        \"count\": 947\n      },\n      {\n        \"id\": \"model\",\n        \"title\": \"Model\",\n        \"count\": 604\n      },\n      {\n        \"id\": \"interactive-resource\",\n        \"title\": \"Interactive resource\",\n        \"count\": 407\n      },\n      {\n        \"id\": \"sound\",\n        \"title\": \"Sound\",\n        \"count\": 344\n      },\n      {\n        \"id\": \"workflow\",\n        \"title\": \"Workflow\",\n        \"count\": 252\n      },\n      {\n        \"id\": \"service\",\n        \"title\": \"Service\",\n        \"count\": 29\n      }\n    ],\n    \"years\": [\n      {\n        \"id\": \"2016\",\n        \"title\": \"2016\",\n        \"count\": 834677\n      },\n      {\n        \"id\": \"2015\",\n        \"title\": \"2015\",\n        \"count\": 2080251\n      },\n      {\n        \"id\": \"2014\",\n        \"title\": \"2014\",\n        \"count\": 973996\n      },\n      {\n        \"id\": \"2013\",\n        \"title\": \"2013\",\n        \"count\": 353263\n      },\n      {\n        \"id\": \"2012\",\n        \"title\": \"2012\",\n        \"count\": 232386\n      },\n      {\n        \"id\": \"2011\",\n        \"title\": \"2011\",\n        \"count\": 353464\n      },\n      {\n        \"id\": \"2010\",\n        \"title\": \"2010\",\n        \"count\": 159988\n      },\n      {\n        \"id\": \"2009\",\n        \"title\": \"2009\",\n        \"count\": 144549\n      },\n      {\n        \"id\": \"2008\",\n        \"title\": \"2008\",\n        \"count\": 138810\n      },\n      {\n        \"id\": \"2007\",\n        \"title\": \"2007\",\n        \"count\": 170651\n      },\n      {\n        \"id\": \"2006\",\n        \"title\": \"2006\",\n        \"count\": 155580\n      },\n      {\n        \"id\": \"2005\",\n        \"title\": \"2005\",\n        \"count\": 168750\n      },\n      {\n        \"id\": \"2004\",\n        \"title\": \"2004\",\n        \"count\": 86246\n      },\n      {\n        \"id\": \"2003\",\n        \"title\": \"2003\",\n        \"count\": 80393\n      },\n      {\n        \"id\": \"2002\",\n        \"title\": \"2002\",\n        \"count\": 52403\n      }\n    ],\n    \"publishers\": [\n      {\n        \"id\": \"cdl.dplanet\",\n        \"title\": \"Data-Planet\",\n        \"count\": 867774\n      },\n      {\n        \"id\": \"bl.ccdc\",\n        \"title\": \"The Cambridge Crystallographic Data Centre\",\n        \"count\": 639461\n      },\n      {\n        \"id\": \"figshare.ars\",\n        \"title\": \"figshare Academic Research System\",\n        \"count\": 527635\n      },\n      {\n        \"id\": \"ethz.seals\",\n        \"title\": \"E-Periodica\",\n        \"count\": 513892\n      },\n      {\n        \"id\": \"estdoi.bio\",\n        \"title\": \"TÜ Loodusmuuseum\",\n        \"count\": 487449\n      },\n      {\n        \"id\": \"rg.rg\",\n        \"title\": \"ResearchGate\",\n        \"count\": 428070\n      },\n      {\n        \"id\": \"gesis.die\",\n        \"title\": \"Deutsches Institut für Erwachsenenbildung\",\n        \"count\": 373193\n      },\n      {\n        \"id\": \"ethz.epics-ba\",\n        \"title\": \"E-Pics Bildarchiv\",\n        \"count\": 361242\n      },\n      {\n        \"id\": \"tib.pangaea\",\n        \"title\": \"PANGAEA - Publishing Network for Geoscientific and Environmental Data\",\n        \"count\": 351387\n      },\n      {\n        \"id\": \"dk.gbif\",\n        \"title\": \"Global Biodiversity Information Facility\",\n        \"count\": 243978\n      },\n      {\n        \"id\": \"cern.hepdata\",\n        \"title\": \"HEPData.net\",\n        \"count\": 236059\n      },\n      {\n        \"id\": \"cisti.ubc\",\n        \"title\": \"University of British Columbia\",\n        \"count\": 198206\n      },\n      {\n        \"id\": \"bl.imperial\",\n        \"title\": \"Imperial College London\",\n        \"count\": 191300\n      },\n      {\n        \"id\": \"ands.centre72\",\n        \"title\": \"PARADISEC\",\n        \"count\": 153467\n      },\n      {\n        \"id\": \"cern.zenodo\",\n        \"title\": \"ZENODO - Research. Shared.\",\n        \"count\": 116167\n      }\n    ],\n    \"schema-versions\": [\n      {\n        \"id\": \"4\",\n        \"title\": \"Schema 4\",\n        \"count\": 108228\n      },\n      {\n        \"id\": \"3\",\n        \"title\": \"Schema 3\",\n        \"count\": 6662751\n      },\n      {\n        \"id\": \"2.2\",\n        \"title\": \"Schema 2.2\",\n        \"count\": 1070998\n      },\n      {\n        \"id\": \"2.1\",\n        \"title\": \"Schema 2.1\",\n        \"count\": 5700\n      },\n      {\n        \"id\": \"2.0\",\n        \"title\": \"Schema 2.0\",\n        \"count\": 756\n      }\n    ],\n    \"total\": 7848433,\n    \"sources\": [],\n    \"relation-types\": []\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"https://doi.org/10.15468/DL.XALEJ0"},"type":{"type":"string","example":"works"},"attributes":{"type":"object","properties":{"doi":{"type":"string","example":"10.15468/DL.XALEJ0"},"url":{},"author":{"type":"array","items":{"type":"object","properties":{"literal":{"type":"string","example":"Occdownload Gbif.Org"}}}},"title":{"type":"string","example":"GBIF Occurrence Download"},"container-title":{"type":"string","example":"The Global Biodiversity Information Facility"},"description":{"type":"string","example":"A dataset containing 61 species occurrences available in GBIF matching the query: TaxonKey: Abarema racemiflora (Donn.Sm.) Barneby & J.W.Grimes. The dataset includes 61 records from 13 constituent datasets: \n 1 records from IAC - Herbário do Instituto Agronômico de Campinas. \n 13 records from Plantae of Costa Rica (INBio). \n 20 records from Tropicos Specimen Data. \n 1 records from Natural History Museum (London) Collection Specimens. \n 2 records from Natural History Museum, Vienna - Herbarium W. \n 6 records from herbario. \n 3 records from Harvard University Herbaria. \n 1 records from Field Museum of Natural History (Botany)  Seed Plant Collection. \n 3 records from The vascular plants collection (P) at the Herbarium of the Muséum national d'Histoire Naturelle (MNHN - Paris). \n 2 records from Royal Botanic Gardens, Kew - Herbarium Specimens. \n 6 records from The New York Botanical Garden Herbarium (NY) - Vascular Plant Collection. \n 1 records from Gothenburg Herbarium - General (GBIF:IH:GB:Herbarium). \n 2 records from Geneva Herbarium – General Collection (G). Data from some individual datasets included in this download may be licensed under less restrictive terms."},"resource-type-subtype":{},"publisher-id":{"type":"string","example":"dk.gbif"},"member-id":{"type":"string","example":"dk"},"registration-agency-id":{"type":"string","example":"datacite"},"resource-type-id":{"type":"string","example":"dataset"},"work-type-id":{"type":"string","example":"dataset"},"version":{},"license":{"type":"string","example":"https://creativecommons.org/licenses/by/4.0/"},"schema-version":{"type":"string","example":"3"},"results":{"type":"array","items":{"type":"object","properties":{}}},"published":{"type":"string","example":"2017"},"deposited":{"type":"string","example":"2017-01-04T01:57:04Z"},"updated":{"type":"string","example":"2017-01-04T01:57:04Z"},"media":{},"xml":{"type":"string","example":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/Pgo8cmVzb3VyY2UgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtMyBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC0zL21ldGFkYXRhLnhzZCIgeG1sbnM9Imh0dHA6Ly9kYXRhY2l0ZS5vcmcvc2NoZW1hL2tlcm5lbC0zIiB4bWxuczp4c2k9Imh0dHA6Ly93d3cudzMub3JnLzIwMDEvWE1MU2NoZW1hLWluc3RhbmNlIj4KICAgIDxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjE1NDY4L2RsLnhhbGVqMDwvaWRlbnRpZmllcj4KICAgIDxjcmVhdG9ycz4KICAgICAgICA8Y3JlYXRvcj4KICAgICAgICAgICAgPGNyZWF0b3JOYW1lPm9jY2Rvd25sb2FkIGdiaWYub3JnPC9jcmVhdG9yTmFtZT4KICAgICAgICA8L2NyZWF0b3I+CiAgICA8L2NyZWF0b3JzPgogICAgPHRpdGxlcz4KICAgICAgICA8dGl0bGU+R0JJRiBPY2N1cnJlbmNlIERvd25sb2FkPC90aXRsZT4KICAgIDwvdGl0bGVzPgogICAgPHB1Ymxpc2hlcj5UaGUgR2xvYmFsIEJpb2RpdmVyc2l0eSBJbmZvcm1hdGlvbiBGYWNpbGl0eTwvcHVibGlzaGVyPgogICAgPHB1YmxpY2F0aW9uWWVhcj4yMDE3PC9wdWJsaWNhdGlvblllYXI+CiAgICA8c3ViamVjdHM+CiAgICAgICAgPHN1YmplY3QgeG1sOmxhbmc9ImVuZyI+R0JJRjwvc3ViamVjdD4KICAgICAgICA8c3ViamVjdCB4bWw6bGFuZz0iZW5nIj5iaW9kaXZlcnNpdHk8L3N1YmplY3Q+CiAgICAgICAgPHN1YmplY3QgeG1sOmxhbmc9ImVuZyI+c3BlY2llcyBvY2N1cnJlbmNlczwvc3ViamVjdD4KICAgIDwvc3ViamVjdHM+CiAgICA8ZGF0ZXM+CiAgICAgICAgPGRhdGUgZGF0ZVR5cGU9IkNyZWF0ZWQiPjIwMTctMDEtMDQ8L2RhdGU+CiAgICAgICAgPGRhdGUgZGF0ZVR5cGU9IlVwZGF0ZWQiPjIwMTctMDEtMDQ8L2RhdGU+CiAgICA8L2RhdGVzPgogICAgPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJEYXRhc2V0Ii8+CiAgICA8YWx0ZXJuYXRlSWRlbnRpZmllcnM+CiAgICAgICAgPGFsdGVybmF0ZUlkZW50aWZpZXIgYWx0ZXJuYXRlSWRlbnRpZmllclR5cGU9IkdCSUYiPjAwNDY5MTAtMTYwOTEwMTUwODUyMDkxPC9hbHRlcm5hdGVJZGVudGlmaWVyPgogICAgPC9hbHRlcm5hdGVJZGVudGlmaWVycz4KICAgIDxyZWxhdGVkSWRlbnRpZmllcnM+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3c0OHBpaTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3Rnbm84YTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2hqYTY5ZjwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjU1MTkvMDAwMjk2NTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4LzVzbDdzaDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3lodmJqODwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L28zcHZuaDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L254bnF6ZjwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L25jNnJ4eTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2x5NjBieDwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4LzZlOG5qZTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L2Fma2ZwaTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICAgICAgPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IlJlZmVyZW5jZXMiPjEwLjE1NDY4L3J2amR1MTwvcmVsYXRlZElkZW50aWZpZXI+CiAgICA8L3JlbGF0ZWRJZGVudGlmaWVycz4KICAgIDxzaXplcz4KICAgICAgICA8c2l6ZT42NDQ5PC9zaXplPgogICAgPC9zaXplcz4KICAgIDxmb3JtYXRzPgogICAgICAgIDxmb3JtYXQ+RGFyd2luIENvcmUgQXJjaGl2ZTwvZm9ybWF0PgogICAgPC9mb3JtYXRzPgogICAgPHJpZ2h0c0xpc3Q+CiAgICAgICAgPHJpZ2h0cyByaWdodHNVUkk9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL2xpY2Vuc2VzL2J5LzQuMC9sZWdhbGNvZGUiPkNyZWF0aXZlIENvbW1vbnMgQXR0cmlidXRpb24gKENDLUJZKSA0LjA8L3JpZ2h0cz4KICAgIDwvcmlnaHRzTGlzdD4KICAgIDxkZXNjcmlwdGlvbnM+CiAgICAgICAgPGRlc2NyaXB0aW9uIGRlc2NyaXB0aW9uVHlwZT0iQWJzdHJhY3QiIHhtbDpsYW5nPSJlbmciPkEgZGF0YXNldCBjb250YWluaW5nIDYxIHNwZWNpZXMgb2NjdXJyZW5jZXMgYXZhaWxhYmxlIGluIEdCSUYgbWF0Y2hpbmcgdGhlIHF1ZXJ5OiBUYXhvbktleTogQWJhcmVtYSByYWNlbWlmbG9yYSAoRG9ubi5TbS4pIEJhcm5lYnkgJmFtcDsgSi5XLkdyaW1lcy4gVGhlIGRhdGFzZXQgaW5jbHVkZXMgNjEgcmVjb3JkcyBmcm9tIDEzIGNvbnN0aXR1ZW50IGRhdGFzZXRzOiAKIDEgcmVjb3JkcyBmcm9tIElBQyAtIEhlcmLDoXJpbyBkbyBJbnN0aXR1dG8gQWdyb27DtG1pY28gZGUgQ2FtcGluYXMuIAogMTMgcmVjb3JkcyBmcm9tIFBsYW50YWUgb2YgQ29zdGEgUmljYSAoSU5CaW8pLiAKIDIwIHJlY29yZHMgZnJvbSBUcm9waWNvcyBTcGVjaW1lbiBEYXRhLiAKIDEgcmVjb3JkcyBmcm9tIE5hdHVyYWwgSGlzdG9yeSBNdXNldW0gKExvbmRvbikgQ29sbGVjdGlvbiBTcGVjaW1lbnMuIAogMiByZWNvcmRzIGZyb20gTmF0dXJhbCBIaXN0b3J5IE11c2V1bSwgVmllbm5hIC0gSGVyYmFyaXVtIFcuIAogNiByZWNvcmRzIGZyb20gaGVyYmFyaW8uIAogMyByZWNvcmRzIGZyb20gSGFydmFyZCBVbml2ZXJzaXR5IEhlcmJhcmlhLiAKIDEgcmVjb3JkcyBmcm9tIEZpZWxkIE11c2V1bSBvZiBOYXR1cmFsIEhpc3RvcnkgKEJvdGFueSkgIFNlZWQgUGxhbnQgQ29sbGVjdGlvbi4gCiAzIHJlY29yZHMgZnJvbSBUaGUgdmFzY3VsYXIgcGxhbnRzIGNvbGxlY3Rpb24gKFApIGF0IHRoZSBIZXJiYXJpdW0gb2YgdGhlIE11c8OpdW0gbmF0aW9uYWwgZCdIaXN0b2lyZSBOYXR1cmVsbGUgKE1OSE4gLSBQYXJpcykuIAogMiByZWNvcmRzIGZyb20gUm95YWwgQm90YW5pYyBHYXJkZW5zLCBLZXcgLSBIZXJiYXJpdW0gU3BlY2ltZW5zLiAKIDYgcmVjb3JkcyBmcm9tIFRoZSBOZXcgWW9yayBCb3RhbmljYWwgR2FyZGVuIEhlcmJhcml1bSAoTlkpIC0gVmFzY3VsYXIgUGxhbnQgQ29sbGVjdGlvbi4gCiAxIHJlY29yZHMgZnJvbSBHb3RoZW5idXJnIEhlcmJhcml1bSAtIEdlbmVyYWwgKEdCSUY6SUg6R0I6SGVyYmFyaXVtKS4gCiAyIHJlY29yZHMgZnJvbSBHZW5ldmEgSGVyYmFyaXVtIOKAkyBHZW5lcmFsIENvbGxlY3Rpb24gKEcpLiBEYXRhIGZyb20gc29tZSBpbmRpdmlkdWFsIGRhdGFzZXRzIGluY2x1ZGVkIGluIHRoaXMgZG93bmxvYWQgbWF5IGJlIGxpY2Vuc2VkIHVuZGVyIGxlc3MgcmVzdHJpY3RpdmUgdGVybXMuPC9kZXNjcmlwdGlvbj4KICAgIDwvZGVzY3JpcHRpb25zPgo8L3Jlc291cmNlPgo="}}},"relationships":{"type":"object","properties":{"publisher":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"member":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"registration-agency":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"resource-type":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"work-type":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}}}}}}},"meta":{"type":"object","properties":{"resource-types":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"dataset"},"title":{"type":"string","example":"Dataset"},"count":{"type":"integer","example":2923633,"default":0}}}},"years":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"2016"},"title":{"type":"string","example":"2016"},"count":{"type":"integer","example":834677,"default":0}}}},"publishers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"cdl.dplanet"},"title":{"type":"string","example":"Data-Planet"},"count":{"type":"integer","example":867774,"default":0}}}},"schema-versions":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"4"},"title":{"type":"string","example":"Schema 4"},"count":{"type":"integer","example":108228,"default":0}}}},"total":{"type":"integer","example":7848433,"default":0},"sources":{"type":"array","items":{"type":"object","properties":{}}},"relation-types":{"type":"array","items":{"type":"object","properties":{}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/works"}],"samples-languages":["curl"]}}},"/works/{doi}":{"get":{"summary":"Get Work","description":"Returns the metadata for the specified DOI","operationId":"get-work","parameters":[{"name":"doi","in":"path","schema":{"type":"string","default":"10.6084/M9.FIGSHARE.830404.V1"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"id\": \"https://doi.org/10.5438/0012\",\n    \"type\": \"works\",\n    \"attributes\": {\n      \"doi\": \"10.5438/0012\",\n      \"url\": null,\n      \"author\": [\n        {\n          \"literal\": \"DataCite Metadata Working Group\"\n        }\n      ],\n      \"title\": \"DataCite Metadata Schema Documentation for the Publication and Citation of Research Data v4.0\",\n      \"container-title\": \"DataCite e.V.\",\n      \"description\": \"1 Introduction\\n1.1 The DataCite Consortium\\n1.2 DataCite Community Participation\\n1.3 The Metadata Schema\\n1.4 Version 4.0 Update\\n2 DataCite Metadata Properties\\n2.1 Overview\\n2.2 Citation\\n2.3 DataCite Properties\\n3 XML Example\\n4 XML Schema\\n5 Other DataCite Services\\nAppendices\\nAppendix 1: Controlled List Definitions\\nAppendix 2: Earlier Version Update Notes\",\n      \"resource-type-subtype\": \"Documentation\",\n      \"publisher-id\": \"datacite.datacite\",\n      \"member-id\": \"datacite\",\n      \"registration-agency-id\": \"datacite\",\n      \"resource-type-id\": \"text\",\n      \"work-type-id\": \"report\",\n      \"version\": \"4.0\",\n      \"license\": null,\n      \"schema-version\": \"4\",\n      \"results\": [],\n      \"published\": \"2016\",\n      \"deposited\": \"2016-09-19T21:53:56Z\",\n      \"updated\": \"2016-09-19T22:16:45Z\",\n      \"media\": null,\n      \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxyZXNvdXJjZSB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhzaTpzY2hlbWFMb2NhdGlvbj0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQgaHR0cDovL3NjaGVtYS5kYXRhY2l0ZS5vcmcvbWV0YS9rZXJuZWwtNC9tZXRhZGF0YS54c2QiPg0KCTxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjU0MzgvMDAxMjwvaWRlbnRpZmllcj4NCgk8Y3JlYXRvcnM+DQoJCTxjcmVhdG9yPg0KCQkJPGNyZWF0b3JOYW1lPkRhdGFDaXRlIE1ldGFkYXRhIFdvcmtpbmcgR3JvdXA8L2NyZWF0b3JOYW1lPg0KCQk8L2NyZWF0b3I+DQoJPC9jcmVhdG9ycz4NCgk8dGl0bGVzPg0KCQk8dGl0bGU+RGF0YUNpdGUgTWV0YWRhdGEgU2NoZW1hIERvY3VtZW50YXRpb24gZm9yIHRoZSBQdWJsaWNhdGlvbiBhbmQgQ2l0YXRpb24gb2YgUmVzZWFyY2ggRGF0YSB2NC4wPC90aXRsZT4NCgk8L3RpdGxlcz4NCgk8cHVibGlzaGVyPkRhdGFDaXRlIGUuVi48L3B1Ymxpc2hlcj4NCgk8cHVibGljYXRpb25ZZWFyPjIwMTY8L3B1YmxpY2F0aW9uWWVhcj4NCgk8Y29udHJpYnV0b3JzPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJQcm9qZWN0TGVhZGVyIj4NCgkJCTxjb250cmlidXRvck5hbWU+U3RhcnIsIEpvYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+Sm9hbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U3RhcnI8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi03Mjg1LTAyN1g8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNhbGlmb3JuaWEgRGlnaXRhbCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iUHJvamVjdExlYWRlciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlNtYWVsZSwgTWFkZWxlaW5lIGRlPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPk1hZGVsZWluZSBkZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U21hZWxlPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlRVIERlbGZ0PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QXNodG9uLCBKYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+SmFuPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5Bc2h0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+QnJpdGlzaCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QmFydG9uLCBBbXk8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QW15PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5CYXJ0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+UHVyZHVlIFVuaXZlcnNpdHkgTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkJyYWRmb3JkLCBUaW5hPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlRpbmE8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkJyYWRmb3JkPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkNpb2xla+KAkEZpZ2llbCwgQW5uZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Bbm5lPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5DaW9sZWstRmlnaWVsPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkluaXN04oCQQ05SUzwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkRpZXRpa2VyLCBTdGVmYW5pZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5TdGVmYW5pZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+RGlldGlrZXI8L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+RVRIIFrDvHJpY2g8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5FbGxpb3R0LCBKYW5uZWFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPkphbm5lYW48L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkVsbGlvdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5ET0UvT1NUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkdlbmF0LCBCZXJyaXQ8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QmVycml0PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5HZW5hdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5USUI8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5IYXJ6ZW5ldHRlciwgS2Fyb2xpbmU8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+S2Fyb2xpbmU8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkhhcnplbmV0dGVyPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkdFU0lTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+SGlyc2NobWFubiwgQmFyYmFyYTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5CYXJiYXJhPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5IaXJzY2htYW5uPC9mYW1pbHlOYW1lPg0KCQkJPG5hbWVJZGVudGlmaWVyIG5hbWVJZGVudGlmaWVyU2NoZW1lPSJPUkNJRCIgc2NoZW1lVVJJPSJodHRwOi8vb3JjaWQub3JnIj4wMDAwLTAwMDMtMDI4OS0wMzQ1PC9uYW1lSWRlbnRpZmllcj4NCgkJCTxhZmZpbGlhdGlvbj5FVEggWsO8cmljaDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkpha29ic3NvbiwgU3RlZmFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlN0ZWZhbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+SmFrb2Jzc29uPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlNORDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk1haWxsb3V4LCBKZWFu4oCQWXZlczwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5KZWFuLVl2ZXM8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk1haWxsb3V4PC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk5ld2JvbGQsIEVsaXphYmV0aDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5FbGl6YWJldGg8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5ld2JvbGQ8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi04MjU1LTkwMTM8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkJyaXRpc2ggTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCQkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+TmllbHNlbiwgTGFycyBIb2xtIDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5MYXJzIEhvbG08L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5pZWxzZW48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMS04MTM1LTM0ODk8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNFUk48L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5ZYWhpYSwgTW9oYW1lZDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Nb2hhbWVkPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5ZYWhpYTwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5JbmlzdC1DTlJTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iU3VwZXJ2aXNvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlppZWRvcm4sIEZyYXVrZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5GcmF1a2U8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPlppZWRvcm48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi0xMTQzLTc4MVg8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPlRJQjwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJPC9jb250cmlidXRvcnM+DQoJPGxhbmd1YWdlPmVuZzwvbGFuZ3VhZ2U+DQoJPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJUZXh0Ij5Eb2N1bWVudGF0aW9uPC9yZXNvdXJjZVR5cGU+DQoJPHJlbGF0ZWRJZGVudGlmaWVycz4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IkRvY3VtZW50cyI+MTAuNTQzOC8wMDEzPC9yZWxhdGVkSWRlbnRpZmllcj4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IklzTmV3VmVyc2lvbk9mIj4xMC41NDM4LzAwMTA8L3JlbGF0ZWRJZGVudGlmaWVyPg0KCTwvcmVsYXRlZElkZW50aWZpZXJzPg0KCTxzaXplcz4NCgkJPHNpemU+NDUgcGFnZXM8L3NpemU+DQoJPC9zaXplcz4NCgk8Zm9ybWF0cz4NCgkJPGZvcm1hdD5hcHBsaWNhdGlvbi9wZGY8L2Zvcm1hdD4NCgk8L2Zvcm1hdHM+DQoJPHZlcnNpb24+NC4wPC92ZXJzaW9uPg0KCTxkZXNjcmlwdGlvbnM+DQoJCTxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IlRhYmxlT2ZDb250ZW50cyI+MSBJbnRyb2R1Y3Rpb248YnIvPg0KMS4xIFRoZSBEYXRhQ2l0ZSBDb25zb3J0aXVtPGJyLz4NCjEuMiBEYXRhQ2l0ZSBDb21tdW5pdHkgUGFydGljaXBhdGlvbjxici8+DQoxLjMgVGhlIE1ldGFkYXRhIFNjaGVtYTxici8+DQoxLjQgVmVyc2lvbiA0LjAgVXBkYXRlPGJyLz4NCjIgRGF0YUNpdGUgTWV0YWRhdGEgUHJvcGVydGllczxici8+DQoyLjEgT3ZlcnZpZXc8YnIvPg0KMi4yIENpdGF0aW9uPGJyLz4NCjIuMyBEYXRhQ2l0ZSBQcm9wZXJ0aWVzPGJyLz4NCjMgWE1MIEV4YW1wbGU8YnIvPg0KNCBYTUwgU2NoZW1hPGJyLz4NCjUgT3RoZXIgRGF0YUNpdGUgU2VydmljZXM8YnIvPg0KQXBwZW5kaWNlczxici8+DQpBcHBlbmRpeCAxOiBDb250cm9sbGVkIExpc3QgRGVmaW5pdGlvbnM8YnIvPg0KQXBwZW5kaXggMjogRWFybGllciBWZXJzaW9uIFVwZGF0ZSBOb3RlczwvZGVzY3JpcHRpb24+DQoJPC9kZXNjcmlwdGlvbnM+DQo8L3Jlc291cmNlPg0K\"\n    },\n    \"relationships\": {\n      \"publisher\": {\n        \"meta\": {}\n      },\n      \"member\": {\n        \"meta\": {}\n      },\n      \"registration-agency\": {\n        \"meta\": {}\n      },\n      \"resource-type\": {\n        \"meta\": {}\n      },\n      \"work-type\": {\n        \"meta\": {}\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"https://doi.org/10.5438/0012"},"type":{"type":"string","example":"works"},"attributes":{"type":"object","properties":{"doi":{"type":"string","example":"10.5438/0012"},"url":{},"author":{"type":"array","items":{"type":"object","properties":{"literal":{"type":"string","example":"DataCite Metadata Working Group"}}}},"title":{"type":"string","example":"DataCite Metadata Schema Documentation for the Publication and Citation of Research Data v4.0"},"container-title":{"type":"string","example":"DataCite e.V."},"description":{"type":"string","example":"1 Introduction\n1.1 The DataCite Consortium\n1.2 DataCite Community Participation\n1.3 The Metadata Schema\n1.4 Version 4.0 Update\n2 DataCite Metadata Properties\n2.1 Overview\n2.2 Citation\n2.3 DataCite Properties\n3 XML Example\n4 XML Schema\n5 Other DataCite Services\nAppendices\nAppendix 1: Controlled List Definitions\nAppendix 2: Earlier Version Update Notes"},"resource-type-subtype":{"type":"string","example":"Documentation"},"publisher-id":{"type":"string","example":"datacite.datacite"},"member-id":{"type":"string","example":"datacite"},"registration-agency-id":{"type":"string","example":"datacite"},"resource-type-id":{"type":"string","example":"text"},"work-type-id":{"type":"string","example":"report"},"version":{"type":"string","example":"4.0"},"license":{},"schema-version":{"type":"string","example":"4"},"results":{"type":"array","items":{"type":"object","properties":{}}},"published":{"type":"string","example":"2016"},"deposited":{"type":"string","example":"2016-09-19T21:53:56Z"},"updated":{"type":"string","example":"2016-09-19T22:16:45Z"},"media":{},"xml":{"type":"string","example":"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjxyZXNvdXJjZSB4bWxucz0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQiIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhzaTpzY2hlbWFMb2NhdGlvbj0iaHR0cDovL2RhdGFjaXRlLm9yZy9zY2hlbWEva2VybmVsLTQgaHR0cDovL3NjaGVtYS5kYXRhY2l0ZS5vcmcvbWV0YS9rZXJuZWwtNC9tZXRhZGF0YS54c2QiPg0KCTxpZGVudGlmaWVyIGlkZW50aWZpZXJUeXBlPSJET0kiPjEwLjU0MzgvMDAxMjwvaWRlbnRpZmllcj4NCgk8Y3JlYXRvcnM+DQoJCTxjcmVhdG9yPg0KCQkJPGNyZWF0b3JOYW1lPkRhdGFDaXRlIE1ldGFkYXRhIFdvcmtpbmcgR3JvdXA8L2NyZWF0b3JOYW1lPg0KCQk8L2NyZWF0b3I+DQoJPC9jcmVhdG9ycz4NCgk8dGl0bGVzPg0KCQk8dGl0bGU+RGF0YUNpdGUgTWV0YWRhdGEgU2NoZW1hIERvY3VtZW50YXRpb24gZm9yIHRoZSBQdWJsaWNhdGlvbiBhbmQgQ2l0YXRpb24gb2YgUmVzZWFyY2ggRGF0YSB2NC4wPC90aXRsZT4NCgk8L3RpdGxlcz4NCgk8cHVibGlzaGVyPkRhdGFDaXRlIGUuVi48L3B1Ymxpc2hlcj4NCgk8cHVibGljYXRpb25ZZWFyPjIwMTY8L3B1YmxpY2F0aW9uWWVhcj4NCgk8Y29udHJpYnV0b3JzPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJQcm9qZWN0TGVhZGVyIj4NCgkJCTxjb250cmlidXRvck5hbWU+U3RhcnIsIEpvYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+Sm9hbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U3RhcnI8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi03Mjg1LTAyN1g8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNhbGlmb3JuaWEgRGlnaXRhbCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iUHJvamVjdExlYWRlciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlNtYWVsZSwgTWFkZWxlaW5lIGRlPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPk1hZGVsZWluZSBkZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+U21hZWxlPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlRVIERlbGZ0PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QXNodG9uLCBKYW48L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+SmFuPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5Bc2h0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+QnJpdGlzaCBMaWJyYXJ5PC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+QmFydG9uLCBBbXk8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QW15PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5CYXJ0b248L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+UHVyZHVlIFVuaXZlcnNpdHkgTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkJyYWRmb3JkLCBUaW5hPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlRpbmE8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkJyYWRmb3JkPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkNpb2xla+KAkEZpZ2llbCwgQW5uZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Bbm5lPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5DaW9sZWstRmlnaWVsPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkluaXN04oCQQ05SUzwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkRpZXRpa2VyLCBTdGVmYW5pZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5TdGVmYW5pZTwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+RGlldGlrZXI8L2ZhbWlseU5hbWU+DQoJCQk8YWZmaWxpYXRpb24+RVRIIFrDvHJpY2g8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5FbGxpb3R0LCBKYW5uZWFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPkphbm5lYW48L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkVsbGlvdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5ET0UvT1NUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkdlbmF0LCBCZXJyaXQ8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+QmVycml0PC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5HZW5hdDwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5USUI8L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5IYXJ6ZW5ldHRlciwgS2Fyb2xpbmU8L2NvbnRyaWJ1dG9yTmFtZT4NCgkJCTxnaXZlbk5hbWU+S2Fyb2xpbmU8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPkhhcnplbmV0dGVyPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPkdFU0lTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+SGlyc2NobWFubiwgQmFyYmFyYTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5CYXJiYXJhPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5IaXJzY2htYW5uPC9mYW1pbHlOYW1lPg0KCQkJPG5hbWVJZGVudGlmaWVyIG5hbWVJZGVudGlmaWVyU2NoZW1lPSJPUkNJRCIgc2NoZW1lVVJJPSJodHRwOi8vb3JjaWQub3JnIj4wMDAwLTAwMDMtMDI4OS0wMzQ1PC9uYW1lSWRlbnRpZmllcj4NCgkJCTxhZmZpbGlhdGlvbj5FVEggWsO8cmljaDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPkpha29ic3NvbiwgU3RlZmFuPC9jb250cmlidXRvck5hbWU+DQoJCQk8Z2l2ZW5OYW1lPlN0ZWZhbjwvZ2l2ZW5OYW1lPg0KCQkJPGZhbWlseU5hbWU+SmFrb2Jzc29uPC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPlNORDwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk1haWxsb3V4LCBKZWFu4oCQWXZlczwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5KZWFuLVl2ZXM8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk1haWxsb3V4PC9mYW1pbHlOYW1lPg0KCQkJPGFmZmlsaWF0aW9uPk5SQy9DSVNUSTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCTxjb250cmlidXRvciBjb250cmlidXRvclR5cGU9IkVkaXRvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPk5ld2JvbGQsIEVsaXphYmV0aDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5FbGl6YWJldGg8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5ld2JvbGQ8L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi04MjU1LTkwMTM8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkJyaXRpc2ggTGlicmFyeTwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJCQkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iRWRpdG9yIj4NCgkJCTxjb250cmlidXRvck5hbWU+TmllbHNlbiwgTGFycyBIb2xtIDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5MYXJzIEhvbG08L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPk5pZWxzZW48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMS04MTM1LTM0ODk8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPkNFUk48L2FmZmlsaWF0aW9uPg0KCQk8L2NvbnRyaWJ1dG9yPg0KCQk8Y29udHJpYnV0b3IgY29udHJpYnV0b3JUeXBlPSJFZGl0b3IiPg0KCQkJPGNvbnRyaWJ1dG9yTmFtZT5ZYWhpYSwgTW9oYW1lZDwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5Nb2hhbWVkPC9naXZlbk5hbWU+DQoJCQk8ZmFtaWx5TmFtZT5ZYWhpYTwvZmFtaWx5TmFtZT4NCgkJCTxhZmZpbGlhdGlvbj5JbmlzdC1DTlJTPC9hZmZpbGlhdGlvbj4NCgkJPC9jb250cmlidXRvcj4NCgkJPGNvbnRyaWJ1dG9yIGNvbnRyaWJ1dG9yVHlwZT0iU3VwZXJ2aXNvciI+DQoJCQk8Y29udHJpYnV0b3JOYW1lPlppZWRvcm4sIEZyYXVrZTwvY29udHJpYnV0b3JOYW1lPg0KCQkJPGdpdmVuTmFtZT5GcmF1a2U8L2dpdmVuTmFtZT4NCgkJCTxmYW1pbHlOYW1lPlppZWRvcm48L2ZhbWlseU5hbWU+DQoJCQk8bmFtZUlkZW50aWZpZXIgbmFtZUlkZW50aWZpZXJTY2hlbWU9Ik9SQ0lEIiBzY2hlbWVVUkk9Imh0dHA6Ly9vcmNpZC5vcmciPjAwMDAtMDAwMi0xMTQzLTc4MVg8L25hbWVJZGVudGlmaWVyPg0KCQkJPGFmZmlsaWF0aW9uPlRJQjwvYWZmaWxpYXRpb24+DQoJCTwvY29udHJpYnV0b3I+DQoJPC9jb250cmlidXRvcnM+DQoJPGxhbmd1YWdlPmVuZzwvbGFuZ3VhZ2U+DQoJPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJUZXh0Ij5Eb2N1bWVudGF0aW9uPC9yZXNvdXJjZVR5cGU+DQoJPHJlbGF0ZWRJZGVudGlmaWVycz4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IkRvY3VtZW50cyI+MTAuNTQzOC8wMDEzPC9yZWxhdGVkSWRlbnRpZmllcj4NCgkJPHJlbGF0ZWRJZGVudGlmaWVyIHJlbGF0ZWRJZGVudGlmaWVyVHlwZT0iRE9JIiByZWxhdGlvblR5cGU9IklzTmV3VmVyc2lvbk9mIj4xMC41NDM4LzAwMTA8L3JlbGF0ZWRJZGVudGlmaWVyPg0KCTwvcmVsYXRlZElkZW50aWZpZXJzPg0KCTxzaXplcz4NCgkJPHNpemU+NDUgcGFnZXM8L3NpemU+DQoJPC9zaXplcz4NCgk8Zm9ybWF0cz4NCgkJPGZvcm1hdD5hcHBsaWNhdGlvbi9wZGY8L2Zvcm1hdD4NCgk8L2Zvcm1hdHM+DQoJPHZlcnNpb24+NC4wPC92ZXJzaW9uPg0KCTxkZXNjcmlwdGlvbnM+DQoJCTxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IlRhYmxlT2ZDb250ZW50cyI+MSBJbnRyb2R1Y3Rpb248YnIvPg0KMS4xIFRoZSBEYXRhQ2l0ZSBDb25zb3J0aXVtPGJyLz4NCjEuMiBEYXRhQ2l0ZSBDb21tdW5pdHkgUGFydGljaXBhdGlvbjxici8+DQoxLjMgVGhlIE1ldGFkYXRhIFNjaGVtYTxici8+DQoxLjQgVmVyc2lvbiA0LjAgVXBkYXRlPGJyLz4NCjIgRGF0YUNpdGUgTWV0YWRhdGEgUHJvcGVydGllczxici8+DQoyLjEgT3ZlcnZpZXc8YnIvPg0KMi4yIENpdGF0aW9uPGJyLz4NCjIuMyBEYXRhQ2l0ZSBQcm9wZXJ0aWVzPGJyLz4NCjMgWE1MIEV4YW1wbGU8YnIvPg0KNCBYTUwgU2NoZW1hPGJyLz4NCjUgT3RoZXIgRGF0YUNpdGUgU2VydmljZXM8YnIvPg0KQXBwZW5kaWNlczxici8+DQpBcHBlbmRpeCAxOiBDb250cm9sbGVkIExpc3QgRGVmaW5pdGlvbnM8YnIvPg0KQXBwZW5kaXggMjogRWFybGllciBWZXJzaW9uIFVwZGF0ZSBOb3RlczwvZGVzY3JpcHRpb24+DQoJPC9kZXNjcmlwdGlvbnM+DQo8L3Jlc291cmNlPg0K"}}},"relationships":{"type":"object","properties":{"publisher":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"member":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"registration-agency":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"resource-type":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"work-type":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The page you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The page you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/works/10.5438/0012"}],"samples-languages":["curl"]}}},"/providers":{"get":{"summary":"List Providers","description":"Returns information about DataCite providers.","operationId":"list-members","parameters":[{"name":"query","in":"query","description":"query string, e.g. provider name","schema":{"type":"string"}},{"name":"year","in":"query","description":"Year member joined DataCite","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"cdl\",\n      \"type\": \"providers\",\n      \"attributes\": {\n        \"name\": \"California Digital Library\",\n        \"symbol\": \"CDL\",\n        \"website\": \"http://ezid.cdlib.org\",\n        \"contact-name\": \"EZID Support Desk\",\n        \"contact-email\": \"ezid@ucop.edu\",\n        \"phone\": null,\n        \"description\": \"California Digital Library (CDL) handles scholarly information at every stage of its life. CDL provides technology and expertise to help the University of California (UC) collect, publish, access, and preserve its full range of information resources. CDL partners with organizations outside the UCs on far-reaching problems.\\n\\nCDL offers DataCite DOIs to University of California scholars and researchers via the EZID service. EZID is also available as a general identifier service to help educational, non-profit, governmental and commercial clients create and manage globally unique identifiers for data and other sources.\",\n        \"country\": \"US\",\n        \"logo-url\": \"https://assets.datacite.org/images/members/cdl.png\",\n        \"institution-type\": null,\n        \"is-active\": true,\n        \"has-password\": true,\n        \"joined\": \"2009-12-01\",\n        \"created\": \"2010-01-01T00:00:00.000Z\",\n        \"updated\": \"2018-08-18T02:25:52.000Z\"\n      },\n      \"relationships\": {\n        \"clients\": {\n          \"meta\": {}\n        },\n        \"prefixes\": {\n          \"meta\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"caltech\",\n      \"type\": \"providers\",\n      \"attributes\": {\n        \"name\": \"California Institute of Technology (Caltech)\",\n        \"symbol\": \"CALTECH\",\n        \"website\": \"http://www.caltech.edu/\",\n        \"contact-name\": \"Tom Morrell\",\n        \"contact-email\": \"tmorrell@caltech.edu\",\n        \"phone\": \"626-395-3827\",\n        \"description\": \"Caltech is a world-renowned science and engineering Institute that marshals some of the world's brightest minds and most innovative tools to address fundamental scientific questions and pressing societal challenges. DOIs for Caltech are managed by  Caltech Library, which advances the Institute’s mission to expand human knowledge by catalyzing information discovery and sharing. The Library maintains extensive research collections, a variety of study spaces, state-of-the-art knowledge management platforms, and a user-focused program of instruction and outreach that enhances student success at Caltech. Visit the Library’s website, library.caltech.edu, to access library collections and services or request research assistance from the Library.\",\n        \"country\": \"US\",\n        \"logo-url\": \"https://assets.datacite.org/images/members/caltech.png\",\n        \"institution-type\": null,\n        \"is-active\": true,\n        \"has-password\": true,\n        \"joined\": null,\n        \"created\": \"2018-04-11T16:27:30.000Z\",\n        \"updated\": \"2018-08-18T02:25:54.000Z\"\n      },\n      \"relationships\": {\n        \"clients\": {\n          \"meta\": {}\n        },\n        \"prefixes\": {\n          \"meta\": {}\n        }\n      }\n    },\n    {\n      \"id\": \"usc\",\n      \"type\": \"providers\",\n      \"attributes\": {\n        \"name\": \"University of Southern California\",\n        \"symbol\": \"USC\",\n        \"website\": \"http://usc.edu/libraries\",\n        \"contact-name\": \"Carl Kesselman\",\n        \"contact-email\": \"carl@isi.edu\",\n        \"phone\": \"+1 310 448-9338\",\n        \"description\": \"The USC Libraries actively support the discovery, creation, and preservation of knowledge. We develop collections and services that support and encourage the academic endeavors of faculty, students, and staff; build a community of critical consumers of information; and help develop engaged world citizens. Through these means, we contribute to the continued success of the University of Southern California. \\n\\nThe USC Libraries includes the Doheny Memorial Library and fourteen specialized libraries with an operating budget of approximately $41 million supporting researchers across the university. Library collections encompass over 4.2 million volumes, 5.9 million microforms, 3.1 million images, 49,300 linear feet of manuscripts and archives, with access to over 113,800 serials in print and electronic formats, nearly 1.3 million e-books, and 400,000 unique digital objects.\",\n        \"country\": \"US\",\n        \"logo-url\": \"https://assets.datacite.org/images/members/usc.png\",\n        \"institution-type\": null,\n        \"is-active\": true,\n        \"has-password\": true,\n        \"joined\": \"2017-06-02\",\n        \"created\": \"2017-08-03T08:29:31.000Z\",\n        \"updated\": \"2018-08-18T02:25:53.000Z\"\n      },\n      \"relationships\": {\n        \"clients\": {\n          \"meta\": {}\n        },\n        \"prefixes\": {\n          \"meta\": {}\n        }\n      }\n    }\n  ],\n  \"meta\": {\n    \"total\": 3,\n    \"total-pages\": 1,\n    \"page\": 1,\n    \"years\": [\n      {\n        \"id\": \"2010\",\n        \"title\": \"2010\",\n        \"count\": 1\n      },\n      {\n        \"id\": \"2017\",\n        \"title\": \"2017\",\n        \"count\": 1\n      },\n      {\n        \"id\": \"2018\",\n        \"title\": \"2018\",\n        \"count\": 1\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"cdl"},"type":{"type":"string","example":"providers"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"California Digital Library"},"symbol":{"type":"string","example":"CDL"},"website":{"type":"string","example":"http://ezid.cdlib.org"},"contact-name":{"type":"string","example":"EZID Support Desk"},"contact-email":{"type":"string","example":"ezid@ucop.edu"},"phone":{},"description":{"type":"string","example":"California Digital Library (CDL) handles scholarly information at every stage of its life. CDL provides technology and expertise to help the University of California (UC) collect, publish, access, and preserve its full range of information resources. CDL partners with organizations outside the UCs on far-reaching problems.\n\nCDL offers DataCite DOIs to University of California scholars and researchers via the EZID service. EZID is also available as a general identifier service to help educational, non-profit, governmental and commercial clients create and manage globally unique identifiers for data and other sources."},"country":{"type":"string","example":"US"},"logo-url":{"type":"string","example":"https://assets.datacite.org/images/members/cdl.png"},"institution-type":{},"is-active":{"type":"boolean","example":true,"default":true},"has-password":{"type":"boolean","example":true,"default":true},"joined":{"type":"string","example":"2009-12-01"},"created":{"type":"string","example":"2010-01-01T00:00:00.000Z"},"updated":{"type":"string","example":"2018-08-18T02:25:52.000Z"}}},"relationships":{"type":"object","properties":{"clients":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"prefixes":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":3,"default":0},"total-pages":{"type":"integer","example":1,"default":0},"page":{"type":"integer","example":1,"default":0},"years":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"2010"},"title":{"type":"string","example":"2010"},"count":{"type":"integer","example":1,"default":0}}}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/providers?query=calif"}],"samples-languages":["curl"]}},"post":{"summary":"Create Provider","description":"Requires admin permissions","operationId":"create-provider","parameters":[{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"contact-name":{"type":"string"},"contact-email":{"type":"string"},"description":{"type":"string"},"country":{"type":"string"},"institution-type":{"type":"string"},"website":{"type":"string"},"phone":{"type":"string"},"joined":{"type":"string","format":"date"},"is-active":{"type":"string"},"password-input":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/providers/{provider-id}":{"get":{"summary":"Get Provider","description":"Returns information about a DataCite provider.","operationId":"get-member","parameters":[{"name":"provider-id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"id\": \"cern\",\n    \"type\": \"providers\",\n    \"attributes\": {\n      \"name\": \"CERN - European Organization for Nuclear Research\",\n      \"symbol\": \"CERN\",\n      \"website\": \"http://doi.web.cern.ch/\",\n      \"contact-name\": \"Sünje Dallmeier-Tiessen\",\n      \"contact-email\": \"sunje.dallmeier-tiessen@cern.ch\",\n      \"phone\": null,\n      \"description\": \"CERN, the European Organization for Nuclear Research, is the world's largest particle physics laboratory. Founded in 1954 and based on the Franco-Swiss border near Geneva, it was one of Europe's first joint ventures and now has 21 member states and more than 50 cooperation agreements and scientific contacts with other countries.\\n\\nAt CERN, physicists and engineers probe the fundamental structure of the universe. They use the world's largest and most complex scientific instrument, the Large Hadron Collider (LHC), to study the basic constituents of matter. The results of their experimental and theoretical work are publicly available following CERN's Open Access Policy.\\n\\nCERN services implementing DOIs are its institutional repository (CDS, CERN Document Server); INSPIRE-HEP, a digital library for the field of High-Energy Physics run in collaboration with other institutions; or the CERN Open Data Portal, which provides high level and analyzable data and software from the LHC experiments.\\n\\nFurthermore, CERN is also providing DOIs to ZENODO, a multidisciplinary data repository for the “long tail” of research results. It allows researchers to share and preserve their output independent of size, type of material or discipline.\",\n      \"country\": \"CH\",\n      \"logo-url\": \"https://assets.datacite.org/images/members/cern.png\",\n      \"institution-type\": null,\n      \"is-active\": true,\n      \"has-password\": true,\n      \"joined\": \"2014-03-25\",\n      \"created\": \"2014-04-10T13:41:44.000Z\",\n      \"updated\": \"2018-08-18T02:25:52.000Z\"\n    },\n    \"relationships\": {\n      \"clients\": {\n        \"meta\": {}\n      },\n      \"prefixes\": {\n        \"meta\": {}\n      }\n    }\n  },\n  \"meta\": {\n    \"clients\": [\n      {\n        \"id\": 2011,\n        \"title\": 2011,\n        \"count\": 1\n      },\n      {\n        \"id\": 2012,\n        \"title\": 2012,\n        \"count\": 1\n      },\n      {\n        \"id\": 2013,\n        \"title\": 2013,\n        \"count\": 3\n      },\n      {\n        \"id\": 2014,\n        \"title\": 2014,\n        \"count\": 4\n      },\n      {\n        \"id\": 2015,\n        \"title\": 2015,\n        \"count\": 6\n      },\n      {\n        \"id\": 2016,\n        \"title\": 2016,\n        \"count\": 12\n      },\n      {\n        \"id\": 2017,\n        \"title\": 2017,\n        \"count\": 13\n      },\n      {\n        \"id\": 2018,\n        \"title\": 2018,\n        \"count\": 13\n      }\n    ],\n    \"dois\": [\n      {\n        \"id\": 2011,\n        \"title\": 2011,\n        \"count\": 2\n      },\n      {\n        \"id\": 2012,\n        \"title\": 2012,\n        \"count\": 1\n      },\n      {\n        \"id\": 2013,\n        \"title\": 2013,\n        \"count\": 1428\n      },\n      {\n        \"id\": 2014,\n        \"title\": 2014,\n        \"count\": 12566\n      },\n      {\n        \"id\": 2015,\n        \"title\": 2015,\n        \"count\": 28283\n      },\n      {\n        \"id\": 2016,\n        \"title\": 2016,\n        \"count\": 324917\n      },\n      {\n        \"id\": 2017,\n        \"title\": 2017,\n        \"count\": 224735\n      },\n      {\n        \"id\": 2018,\n        \"title\": 2018,\n        \"count\": 177364\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"cern"},"type":{"type":"string","example":"providers"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"CERN - European Organization for Nuclear Research"},"symbol":{"type":"string","example":"CERN"},"website":{"type":"string","example":"http://doi.web.cern.ch/"},"contact-name":{"type":"string","example":"Sünje Dallmeier-Tiessen"},"contact-email":{"type":"string","example":"sunje.dallmeier-tiessen@cern.ch"},"phone":{},"description":{"type":"string","example":"CERN, the European Organization for Nuclear Research, is the world's largest particle physics laboratory. Founded in 1954 and based on the Franco-Swiss border near Geneva, it was one of Europe's first joint ventures and now has 21 member states and more than 50 cooperation agreements and scientific contacts with other countries.\n\nAt CERN, physicists and engineers probe the fundamental structure of the universe. They use the world's largest and most complex scientific instrument, the Large Hadron Collider (LHC), to study the basic constituents of matter. The results of their experimental and theoretical work are publicly available following CERN's Open Access Policy.\n\nCERN services implementing DOIs are its institutional repository (CDS, CERN Document Server); INSPIRE-HEP, a digital library for the field of High-Energy Physics run in collaboration with other institutions; or the CERN Open Data Portal, which provides high level and analyzable data and software from the LHC experiments.\n\nFurthermore, CERN is also providing DOIs to ZENODO, a multidisciplinary data repository for the “long tail” of research results. It allows researchers to share and preserve their output independent of size, type of material or discipline."},"country":{"type":"string","example":"CH"},"logo-url":{"type":"string","example":"https://assets.datacite.org/images/members/cern.png"},"institution-type":{},"is-active":{"type":"boolean","example":true,"default":true},"has-password":{"type":"boolean","example":true,"default":true},"joined":{"type":"string","example":"2014-03-25"},"created":{"type":"string","example":"2014-04-10T13:41:44.000Z"},"updated":{"type":"string","example":"2018-08-18T02:25:52.000Z"}}},"relationships":{"type":"object","properties":{"clients":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"prefixes":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}}}}}},"meta":{"type":"object","properties":{"clients":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2011,"default":0},"title":{"type":"integer","example":2011,"default":0},"count":{"type":"integer","example":1,"default":0}}}},"dois":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2011,"default":0},"title":{"type":"integer","example":2011,"default":0},"count":{"type":"integer","example":2,"default":0}}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The resource you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The resource you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/providers/cern"}],"samples-languages":["curl"]}},"put":{"summary":"Update Provider","description":"Requires provider or admin privileges.","operationId":"update-provider","parameters":[{"name":"provider-id","in":"path","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"institution-type":{"type":"string"},"country":{"type":"string"},"website":{"type":"string"},"phone":{"type":"string"},"contact-name":{"type":"string"},"contact-email":{"type":"string"},"joined":{"type":"string","format":"date"},"is-active":{"type":"string"},"password-input":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Provider","description":"Requires admin privileges.","operationId":"delete-provider","parameters":[{"name":"provider-id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/providers/{provider-id}/dois":{"get":{"summary":"List Provider DOIs","description":"","operationId":"list-provider-dois","parameters":[{"name":"provider-id","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/providers/tib/dois"}],"samples-languages":["curl"]}}},"/providers/{provider-id}/prefixes":{"get":{"summary":"List Provider Prefixes","description":"List prefixes associated with a provider","operationId":"list-provider-prefixes","parameters":[{"name":"query","in":"query","schema":{"type":"string"}},{"name":"prefix-id","in":"query","schema":{"type":"string"}},{"name":"state","in":"query","description":"Either \"with-client\" or \"without-client\"","schema":{"type":"string"}},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}},{"name":"provider-id","in":"path","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"0004-wd75-2j00-0000\",\n      \"type\": \"provider-prefixes\",\n      \"attributes\": {\n        \"created\": \"2018-02-22T16:21:35.000Z\",\n        \"updated\": \"2018-02-22T16:21:35.000Z\"\n      },\n      \"relationships\": {\n        \"provider\": {\n          \"data\": {\n            \"id\": \"datacite\",\n            \"type\": \"providers\"\n          }\n        },\n        \"prefix\": {\n          \"data\": {\n            \"id\": \"10.2899\",\n            \"type\": \"prefixes\"\n          }\n        },\n        \"clients\": {\n          \"data\": []\n        }\n      }\n    },\n    {\n      \"id\": \"0004-0g0q-s4ks-t3t0\",\n      \"type\": \"provider-prefixes\",\n      \"attributes\": {\n        \"created\": \"2017-04-11T14:11:12.000Z\",\n        \"updated\": \"2017-09-24T01:42:41.000Z\"\n      },\n      \"relationships\": {\n        \"provider\": {\n          \"data\": {\n            \"id\": \"datacite\",\n            \"type\": \"providers\"\n          }\n        },\n        \"prefix\": {\n          \"data\": {\n            \"id\": \"10.25494\",\n            \"type\": \"prefixes\"\n          }\n        },\n        \"clients\": {\n          \"data\": []\n        }\n      }\n    },\n    {\n      \"id\": \"0003-1a7x-zqmy-1943\",\n      \"type\": \"provider-prefixes\",\n      \"attributes\": {\n        \"created\": \"2013-11-05T07:22:12.000Z\",\n        \"updated\": \"2017-09-24T01:42:23.000Z\"\n      },\n      \"relationships\": {\n        \"provider\": {\n          \"data\": {\n            \"id\": \"datacite\",\n            \"type\": \"providers\"\n          }\n        },\n        \"prefix\": {\n          \"data\": {\n            \"id\": \"10.14454\",\n            \"type\": \"prefixes\"\n          }\n        },\n        \"clients\": {\n          \"data\": []\n        }\n      }\n    }\n  ],\n \n  \"meta\": {\n    \"total\": 7,\n    \"total-pages\": 1,\n    \"page\": 1,\n    \"states\": [\n      {\n        \"id\": \"without-client\",\n        \"title\": \"Without client\",\n        \"count\": 7\n      }\n    ],\n    \"providers\": [\n      {\n        \"id\": \"datacite\",\n        \"title\": \"DataCite\",\n        \"count\": 7\n      }\n    ],\n    \"years\": [\n      {\n        \"id\": \"2018\",\n        \"title\": \"2018\",\n        \"count\": 1\n      },\n      {\n        \"id\": \"2017\",\n        \"title\": \"2017\",\n        \"count\": 5\n      },\n      {\n        \"id\": \"2013\",\n        \"title\": \"2013\",\n        \"count\": 1\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"0004-wd75-2j00-0000"},"type":{"type":"string","example":"provider-prefixes"},"attributes":{"type":"object","properties":{"created":{"type":"string","example":"2018-02-22T16:21:35.000Z"},"updated":{"type":"string","example":"2018-02-22T16:21:35.000Z"}}},"relationships":{"type":"object","properties":{"provider":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"datacite"},"type":{"type":"string","example":"providers"}}}}},"prefix":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"10.2899"},"type":{"type":"string","example":"prefixes"}}}}},"clients":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{}}}}}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":7,"default":0},"total-pages":{"type":"integer","example":1,"default":0},"page":{"type":"integer","example":1,"default":0},"states":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"without-client"},"title":{"type":"string","example":"Without client"},"count":{"type":"integer","example":7,"default":0}}}},"providers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"datacite"},"title":{"type":"string","example":"DataCite"},"count":{"type":"integer","example":7,"default":0}}}},"years":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"2018"},"title":{"type":"string","example":"2018"},"count":{"type":"integer","example":1,"default":0}}}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/providers/datacite/prefixes?state=without-client"}],"samples-languages":["curl"]}}},"/provider-prefixes/{id}":{"get":{"summary":"Get Provider Prefix","description":"","operationId":"get-provider-prefix","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"id\": \"0003-1a7x-zqmy-1943\",\n    \"type\": \"provider-prefixes\",\n    \"attributes\": {\n      \"created\": \"2013-11-05T07:22:12.000Z\",\n      \"updated\": \"2017-09-24T01:42:23.000Z\"\n    },\n    \"relationships\": {\n      \"provider\": {\n        \"data\": {\n          \"id\": \"datacite\",\n          \"type\": \"providers\"\n        }\n      },\n      \"prefix\": {\n        \"data\": {\n          \"id\": \"10.14454\",\n          \"type\": \"prefixes\"\n        }\n      },\n      \"clients\": {\n        \"data\": []\n      }\n    }\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"0003-1a7x-zqmy-1943"},"type":{"type":"string","example":"provider-prefixes"},"attributes":{"type":"object","properties":{"created":{"type":"string","example":"2013-11-05T07:22:12.000Z"},"updated":{"type":"string","example":"2017-09-24T01:42:23.000Z"}}},"relationships":{"type":"object","properties":{"provider":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"datacite"},"type":{"type":"string","example":"providers"}}}}},"prefix":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"10.14454"},"type":{"type":"string","example":"prefixes"}}}}},"clients":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{}}}}}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The resource you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The resource you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"curl https://api.datacite.org/provider-prefixes/0003-1a7x-zqmy-1943"}],"samples-languages":["curl"]}},"delete":{"summary":"Delete Provider Prefix","description":"Requires provider or admin permissions.","operationId":"delete-provider-prefix","parameters":[{"name":"id","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/provider-prefixes":{"post":{"summary":"Create Provider Prefix","description":"Requires provider or admin permissions","operationId":"create-provider-prefix","parameters":[{"name":"provider-id","in":"query","schema":{"type":"string"}},{"name":"prefix-id","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/clients":{"get":{"summary":"List Clients","description":"Returns information about clients.","operationId":"list-data-centers","parameters":[{"name":"query","in":"query","description":"Query string, e.g. data center name","schema":{"type":"string"}},{"name":"provider-id","in":"query","description":"Member that the data center is associated with","schema":{"type":"string"}},{"name":"page[number]","in":"query","schema":{"type":"integer","format":"int32","default":1}},{"name":"page[size]","in":"query","schema":{"type":"integer","format":"int32","default":25}},{"name":"include","in":"query","description":"Comma-separated list from `provider`, `repository`","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"gesis.rki\",\n      \"type\": \"clients\",\n      \"attributes\": {\n        \"name\": \"'Health Monitoring' Research Data Centre at the Robert Koch Institute\",\n        \"symbol\": \"GESIS.RKI\",\n        \"year\": 2012,\n        \"contact-name\": \"dara\",\n        \"contact-email\": \"dara@gesis.org\",\n        \"domains\": \"kiggs-studie.de,degs-studie.de,geda-studie.de,rki.de,krebsdaten.de,edoc.rki.de\",\n        \"url\": null,\n        \"is-active\": true,\n        \"has-password\": true,\n        \"created\": \"2012-11-15T15:21:43Z\",\n        \"updated\": \"2018-08-18T02:35:15Z\"\n      },\n      \"relationships\": {\n        \"prefixes\": {\n          \"meta\": {}\n        },\n        \"provider\": {\n          \"data\": {\n            \"id\": \"gesis\",\n            \"type\": \"providers\"\n          }\n        },\n        \"repository\": {\n          \"data\": {\n            \"id\": \"r3d100010436\",\n            \"type\": \"repositories\"\n          }\n        }\n      }\n    },\n    {\n      \"id\": \"tib.hu-rki\",\n      \"type\": \"clients\",\n      \"attributes\": {\n        \"name\": \"Humboldt Universität zu Berlin\",\n        \"symbol\": \"TIB.HU-RKI\",\n        \"year\": 2018,\n        \"contact-name\": \"Niels Fromm\",\n        \"contact-email\": \"fromm@hu-berlin.de\",\n        \"domains\": \"rki.de\",\n        \"url\": null,\n        \"is-active\": true,\n        \"has-password\": true,\n        \"created\": \"2018-02-05T08:30:40Z\",\n        \"updated\": \"2018-08-18T02:36:11Z\"\n      },\n      \"relationships\": {\n        \"prefixes\": {\n          \"meta\": {}\n        },\n        \"provider\": {\n          \"data\": {\n            \"id\": \"tib\",\n            \"type\": \"providers\"\n          }\n        },\n        \"repository\": {\n          \"data\": null\n        }\n      }\n    }\n  ],\n \n  \"meta\": {\n    \"total\": 2,\n    \"total-pages\": 1,\n    \"page\": 1,\n    \"years\": [\n      {\n        \"id\": \"2012\",\n        \"title\": \"2012\",\n        \"count\": 1\n      },\n      {\n        \"id\": \"2018\",\n        \"title\": \"2018\",\n        \"count\": 1\n      }\n    ],\n    \"providers\": [\n      {\n        \"id\": \"gesis\",\n        \"title\": \"GESIS - Leibniz Institute for the Social Sciences\",\n        \"count\": 1\n      },\n      {\n        \"id\": \"tib\",\n        \"title\": \"German National Library of Science and Technology\",\n        \"count\": 1\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"gesis.rki"},"type":{"type":"string","example":"clients"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"'Health Monitoring' Research Data Centre at the Robert Koch Institute"},"symbol":{"type":"string","example":"GESIS.RKI"},"year":{"type":"integer","example":2012,"default":0},"contact-name":{"type":"string","example":"dara"},"contact-email":{"type":"string","example":"dara@gesis.org"},"domains":{"type":"string","example":"kiggs-studie.de,degs-studie.de,geda-studie.de,rki.de,krebsdaten.de,edoc.rki.de"},"url":{},"is-active":{"type":"boolean","example":true,"default":true},"has-password":{"type":"boolean","example":true,"default":true},"created":{"type":"string","example":"2012-11-15T15:21:43Z"},"updated":{"type":"string","example":"2018-08-18T02:35:15Z"}}},"relationships":{"type":"object","properties":{"prefixes":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"provider":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"gesis"},"type":{"type":"string","example":"providers"}}}}},"repository":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"r3d100010436"},"type":{"type":"string","example":"repositories"}}}}}}}}}},"meta":{"type":"object","properties":{"total":{"type":"integer","example":2,"default":0},"total-pages":{"type":"integer","example":1,"default":0},"page":{"type":"integer","example":1,"default":0},"years":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"2012"},"title":{"type":"string","example":"2012"},"count":{"type":"integer","example":1,"default":0}}}},"providers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"gesis"},"title":{"type":"string","example":"GESIS - Leibniz Institute for the Social Sciences"},"count":{"type":"integer","example":1,"default":0}}}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"http://api.datacite.org/clients?query=rki"}],"samples-languages":["curl"]}},"post":{"summary":"Create Client","description":"","operationId":"create-client","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"symbol":{"type":"string"},"provider-id":{"type":"string"},"repository-id":{"type":"string"},"contact-name":{"type":"string"},"contact-email":{"type":"string"},"url":{"type":"string"},"domains":{"type":"string"},"is-active":{"type":"boolean"},"password-input":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/clients/{client-id}":{"get":{"summary":"Get Client","description":"Returns information about a specific client.","operationId":"get-data-center","parameters":[{"name":"client-id","in":"path","schema":{"type":"string"},"required":true},{"name":"include","in":"query","description":"Comma-separated list from \"provider\", \"repository\"","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": {\n    \"id\": \"dryad.dryad\",\n    \"type\": \"clients\",\n    \"attributes\": {\n      \"name\": \"DRYAD\",\n      \"symbol\": \"DRYAD.DRYAD\",\n      \"year\": 2018,\n      \"contact-name\": \"Dryad Administrator\",\n      \"contact-email\": \"admin@datadryad.org\",\n      \"domains\": \"*\",\n      \"url\": null,\n      \"is-active\": true,\n      \"has-password\": true,\n      \"created\": \"2018-04-24T20:59:15Z\",\n      \"updated\": \"2018-08-18T02:36:18Z\"\n    },\n    \"relationships\": {\n      \"prefixes\": {\n        \"meta\": {}\n      },\n      \"provider\": {\n        \"data\": {\n          \"id\": \"dryad\",\n          \"type\": \"providers\"\n        }\n      },\n      \"repository\": {\n        \"data\": {\n          \"id\": \"r3d100000044\",\n          \"type\": \"repositories\"\n        }\n      }\n    }\n  },\n  \"meta\": {\n    \"dois\": [\n      {\n        \"id\": 2011,\n        \"title\": 2011,\n        \"count\": 4213\n      },\n      {\n        \"id\": 2012,\n        \"title\": 2012,\n        \"count\": 3941\n      },\n      {\n        \"id\": 2013,\n        \"title\": 2013,\n        \"count\": 5880\n      },\n      {\n        \"id\": 2014,\n        \"title\": 2014,\n        \"count\": 16965\n      },\n      {\n        \"id\": 2015,\n        \"title\": 2015,\n        \"count\": 18389\n      },\n      {\n        \"id\": 2016,\n        \"title\": 2016,\n        \"count\": 18955\n      },\n      {\n        \"id\": 2017,\n        \"title\": 2017,\n        \"count\": 20696\n      },\n      {\n        \"id\": 2018,\n        \"title\": 2018,\n        \"count\": 13960\n      }\n    ]\n  }\n}"}},"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"dryad.dryad"},"type":{"type":"string","example":"clients"},"attributes":{"type":"object","properties":{"name":{"type":"string","example":"DRYAD"},"symbol":{"type":"string","example":"DRYAD.DRYAD"},"year":{"type":"integer","example":2018,"default":0},"contact-name":{"type":"string","example":"Dryad Administrator"},"contact-email":{"type":"string","example":"admin@datadryad.org"},"domains":{"type":"string","example":"*"},"url":{},"is-active":{"type":"boolean","example":true,"default":true},"has-password":{"type":"boolean","example":true,"default":true},"created":{"type":"string","example":"2018-04-24T20:59:15Z"},"updated":{"type":"string","example":"2018-08-18T02:36:18Z"}}},"relationships":{"type":"object","properties":{"prefixes":{"type":"object","properties":{"meta":{"type":"object","properties":{}}}},"provider":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"dryad"},"type":{"type":"string","example":"providers"}}}}},"repository":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","example":"r3d100000044"},"type":{"type":"string","example":"repositories"}}}}}}}}},"meta":{"type":"object","properties":{"dois":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":2011,"default":0},"title":{"type":"integer","example":2011,"default":0},"count":{"type":"integer","example":4213,"default":0}}}}}}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"errors\": [\n    {\n      \"status\": \"404\",\n      \"title\": \"The resource you are looking for doesn't exist.\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"errors":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string","example":"404"},"title":{"type":"string","example":"The resource you are looking for doesn't exist."}}}}}}}}}},"deprecated":false,"security":[],"x-readme":{"code-samples":[{"language":"curl","code":"https://api.datacite.org/clients/dryad.dryad"}],"samples-languages":["curl"]}},"put":{"summary":"Update Client","description":"","operationId":"update-client","parameters":[{"name":"client-id","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","properties":{"name":{"type":"string"},"repository-id":{"type":"string"},"contact-name":{"type":"string"},"contact-email":{"type":"string"},"url":{"type":"string"},"domains":{"type":"string"},"is-active":{"type":"boolean"},"password-input":{"type":"string"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false},"delete":{"summary":"Delete Client","description":"","operationId":"delete-client","parameters":[{"name":"client-id","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}}},"deprecated":false}},"/clients/{client-id}/dois":{"get":{"summary":"List Client DOIs","description":"","operationId":"list-client-dois","parameters":[{"name":"client-id","in":"path","schema":{"type":"string"},"required":true},{"name":"Content-Type","in":"header","schema":{"type":"string","default":"application/vnd.api+json"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"data\": [\n    {\n      \"id\": \"10.5438/z5w2-gk80\",\n      \"type\": \"dois\",\n      \"attributes\": {\n        \"doi\": \"10.5438/z5w2-gk80\",\n        \"prefix\": \"10.5438\",\n        \"suffix\": \"z5w2-gk80\",\n        \"identifier\": \"https://doi.org/10.5438/z5w2-gk80\",\n        \"url\": \"https://blog.datacite.org/metrics-for-metadata/\",\n        \"author\": [\n          {\n            \"type\": \"Person\",\n            \"id\": \"https://orcid.org/0000-0003-3585-6733\",\n            \"name\": \"Habermann, Ted\",\n            \"given-name\": \"Ted\",\n            \"family-name\": \"Habermann\"\n          }\n        ],\n        \"title\": \"Metrics for Characterizing Metadata Collections\",\n        \"publisher\": \"DataCite\",\n        \"resource-type-subtype\": \"BlogPosting\",\n        \"description\": \"This is a guest blog post written by Ted Habermann, Director of Business and Community Development for The HDF Group. Dr. Habermann is currently leading International Standards Organization (ISO) projects developing XML Schema and transforms for ISO...\",\n        \"version\": \"1.0\",\n        \"metadata-version\": 9,\n        \"schema-version\": \"http://datacite.org/schema/kernel-4\",\n        \"state\": \"findable\",\n        \"is-active\": true,\n        \"reason\": null,\n        \"source\": \"fabrica\",\n        \"landing-page\": {\n          \"status\": 200,\n          \"content-type\": \"text/html\",\n          \"checked\": \"2018-08-15T21:33:45.000Z\"\n        },\n        \"xml\": \"PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHJlc291cmNlIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCIgeHNpOnNjaGVtYUxvY2F0aW9uPSJodHRwOi8vZGF0YWNpdGUub3JnL3NjaGVtYS9rZXJuZWwtNCBodHRwOi8vc2NoZW1hLmRhdGFjaXRlLm9yZy9tZXRhL2tlcm5lbC00L21ldGFkYXRhLnhzZCI+CiAgPGlkZW50aWZpZXIgaWRlbnRpZmllclR5cGU9IkRPSSI+MTAuNTQzOC9aNVcyLUdLODA8L2lkZW50aWZpZXI+CiAgPGNyZWF0b3JzPgogICAgPGNyZWF0b3I+CiAgICAgIDxjcmVhdG9yTmFtZT5IYWJlcm1hbm4sIFRlZDwvY3JlYXRvck5hbWU+CiAgICAgIDxnaXZlbk5hbWU+VGVkPC9naXZlbk5hbWU+CiAgICAgIDxmYW1pbHlOYW1lPkhhYmVybWFubjwvZmFtaWx5TmFtZT4KICAgICAgPG5hbWVJZGVudGlmaWVyIHNjaGVtZVVSST0iaHR0cDovL29yY2lkLm9yZy8iIG5hbWVJZGVudGlmaWVyU2NoZW1lPSJPUkNJRCI+aHR0cHM6Ly9vcmNpZC5vcmcvMDAwMC0wMDAzLTM1ODUtNjczMzwvbmFtZUlkZW50aWZpZXI+CiAgICA8L2NyZWF0b3I+CiAgPC9jcmVhdG9ycz4KICA8dGl0bGVzPgogICAgPHRpdGxlPk1ldHJpY3MgZm9yIENoYXJhY3Rlcml6aW5nIE1ldGFkYXRhIENvbGxlY3Rpb25zPC90aXRsZT4KICA8L3RpdGxlcz4KICA8cHVibGlzaGVyPkRhdGFDaXRlPC9wdWJsaXNoZXI+CiAgPHB1YmxpY2F0aW9uWWVhcj4yMDE4PC9wdWJsaWNhdGlvblllYXI+CiAgPHJlc291cmNlVHlwZSByZXNvdXJjZVR5cGVHZW5lcmFsPSJUZXh0Ij5CbG9nUG9zdGluZzwvcmVzb3VyY2VUeXBlPgogIDxzdWJqZWN0cz4KICAgIDxzdWJqZWN0Pm1ldGFkYXRhPC9zdWJqZWN0PgogICAgPHN1YmplY3Q+ZGF0YWNpdGU8L3N1YmplY3Q+CiAgICA8c3ViamVjdD5mZWF0dXJlZDwvc3ViamVjdD4KICA8L3N1YmplY3RzPgogIDxkYXRlcz4KICAgIDxkYXRlIGRhdGVUeXBlPSJDcmVhdGVkIj4yMDE4LTA4LTE1PC9kYXRlPgogICAgPGRhdGUgZGF0ZVR5cGU9Iklzc3VlZCI+MjAxOC0wOC0xNTwvZGF0ZT4KICAgIDxkYXRlIGRhdGVUeXBlPSJVcGRhdGVkIj4yMDE4LTA4LTE1PC9kYXRlPgogIDwvZGF0ZXM+CiAgPHJlbGF0ZWRJZGVudGlmaWVycz4KICAgIDxyZWxhdGVkSWRlbnRpZmllciByZWxhdGVkSWRlbnRpZmllclR5cGU9IkRPSSIgcmVsYXRpb25UeXBlPSJJc1BhcnRPZiI+MTAuNTQzOC8wMDAwLTAwc3M8L3JlbGF0ZWRJZGVudGlmaWVyPgogIDwvcmVsYXRlZElkZW50aWZpZXJzPgogIDx2ZXJzaW9uPjEuMDwvdmVyc2lvbj4KICA8cmlnaHRzTGlzdD4KICAgIDxyaWdodHMgcmlnaHRzVVJJPSJodHRwczovL2NyZWF0aXZlY29tbW9ucy5vcmcvbGljZW5zZXMvYnkvNC4wLyI+aHR0cHM6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL2xpY2Vuc2VzL2J5LzQuMC88L3JpZ2h0cz4KICA8L3JpZ2h0c0xpc3Q+CiAgPGRlc2NyaXB0aW9ucz4KICAgIDxkZXNjcmlwdGlvbiBkZXNjcmlwdGlvblR5cGU9IkFic3RyYWN0Ij5UaGlzIGlzIGEgZ3Vlc3QgY
[...]
